[2014-04-28 12:08] centminmod opened #1 "Nginx version updated to 1.7.0 in .07 beta 15"
Update Nginx version from 1.5.13 to 1.7.0 in .07 beta 15
https://github.com/centminmod/centminmod/commit/ba6bd3e977ed2aa149adf313e3088bfd8c80bd0d

[2014-04-28 12:08] #1 closed, assigned to centminmod

[2014-04-29 11:43] centminmod opened #2 "Fix CSF Firewall UDP_OUT typo"
Fix CSF Firewall UDP_OUT typo

https://github.com/centminmod/centminmod/commit/a35c8182c236ffc858baaf0cf2f424727ca1f12c

[2014-04-29 11:43] #2 closed, assigned to centminmod

[2014-05-03 11:41] centminmod opened #3 "SELINUX detection in .07 beta added"
https://github.com/centminmod/centminmod/commit/fbdda983539b71f0e41809c4ce6b516fd47108c5

[2014-05-03 11:41] #3 closed, assigned to nobody

[2014-05-03 11:41] centminmod opened #4 "Memcached server updated to 1.4.19 in .07 beta 16"
https://github.com/centminmod/centminmod/commit/a0bd9a17370c3d444da4b817abbc30cd1a94701a

[2014-05-03 11:41] #4 closed, assigned to centminmod

[2014-05-03 11:42] centminmod opened #5 "PHP default version updated to PHP 5.4.28 IN .07 beta 16"
https://github.com/centminmod/centminmod/commit/9ba74b942105cf474ef77b7a6d7bd092ae3cfb36

[2014-05-03 11:42] #5 closed, assigned to centminmod

[2014-05-03 11:42] centminmod opened #6 "Xcache updated to 3.1.0 in .07 beta 16"
https://github.com/centminmod/centminmod/commit/3570cbfd50bcab60a1126af30e7d523e7a7988e4

[2014-05-03 11:43] #6 closed, assigned to centminmod

[2014-05-04 13:38] centminmod opened #7 "Add new .07 beta 16 branch for Axivo YUM repository inclusion"
New branch for .07 beta 16 with added Axivo YUM repository inclusion

https://github.com/centminmod/centminmod/tree/123.07beta16xtrarepo

[2014-05-04 13:38] #7 closed, assigned to centminmod

[2014-05-07 18:21] centminmod opened #8 "Updated README"
https://github.com/centminmod/centminmod/commit/7aac1d3356678e297d202e0e7eae42dc54734be5

[2014-05-07 18:21] #8 closed, assigned to centminmod

[2014-05-07 18:22] centminmod opened #9 "Updated Change Logs for .07 beta 16"
https://github.com/centminmod/centminmod/commit/057e51c236fe6eff080da1eea38da6bdeb930634 and https://github.com/centminmod/centminmod/commit/f296c54b1728eb3db2c73d0274933a8b1d285c6d

[2014-05-07 18:22] #9 closed, assigned to centminmod

[2014-05-07 18:22] centminmod opened #10 "Added more default security scanner blocks"
https://github.com/centminmod/centminmod/commit/e560f5e2951b4ef5fa5ddcf2a4d3951ce6deaeb3

[2014-05-07 18:23] #10 closed, assigned to centminmod

[2014-05-07 18:23] centminmod opened #11 "Add libJudy YUM package for CentOS 6.x 64bit from EPEL repo"
Add libJudy YUM package for CentOS 6.x 64bit from EPEL repo needed for MariaDB 10 - MariaDB-oqgraph-engine.x86_64

https://github.com/centminmod/centminmod/commit/f70a5e4c48d56681270e7702268cda6c7187ae40

[2014-05-07 18:23] #11 closed, assigned to centminmod

[2014-05-07 18:25] centminmod opened #12 "OpenSSL fixes for .07 betas"
.07 beta
https://github.com/centminmod/centminmod/commit/007ee3c316d6b143bf4f2073abefd35416d1505b

https://github.com/centminmod/centminmod/commit/6c53ae89a0c17f4ad6e0a663a771cb89638d751a

https://github.com/centminmod/centminmod/commit/4e3975750182f2e5c77a52b1838e67739a79b386

https://github.com/centminmod/centminmod/commit/0c617250a0e33df9c3781a7ee22fd5c242483fb1

[2014-05-07 18:25] #12 closed, assigned to centminmod

[2014-05-07 18:26] centminmod opened #13 "Revise nginx.conf client_max_body_size value"
increase from 5m to 10m

https://github.com/centminmod/centminmod/commit/4ee9318fd4ae5e5bc06fd1e24249ea16eb8920ba

[2014-05-07 18:26] #13 closed, assigned to centminmod

[2014-05-07 18:27] centminmod opened #14 "Fix Nginx upgrade make install delays"
https://github.com/centminmod/centminmod/commit/a297c0632e3751edd40706c117abb490c4c2a198

[2014-05-07 18:27] #14 closed, assigned to centminmod

[2014-05-07 18:27] centminmod opened #15 "Fix YUM priorities misplaced close curly braces"
https://github.com/centminmod/centminmod/commit/fad191e127786c9becfc945992b48c32a4c6b7e5

[2014-05-07 18:27] #15 closed, assigned to centminmod

[2014-05-08 09:30] centminmod opened #16 "New .07 beta 17 branch"
https://github.com/centminmod/centminmod/tree/123.07beta17

[2014-05-08 09:30] #16 closed, assigned to centminmod

[2014-05-08 23:25] centminmod opened #17 "New .07 beta 18 branch"
Added new menu option 21 to centmin.sh

https://github.com/centminmod/centminmod/tree/123.07beta18

[code]

[2014-05-08 23:25] #17 closed, assigned to centminmod

[2014-05-10 01:51] centminmod opened #18 "New .07 beta 19 branch - ngx_pagespeed 1.8.31.2 beta changes"
Nginx ngx_pagespeed 1.8.31.2 beta released - lots of changes https://developers.google.com/speed/pagespeed/module/release_notes.

Seems ngx_pagespeed 1.8.31.2 broke my own structure for Centmin Mod Nginx and how I integrated it especially for the new ngx_pagespeed admin page https://developers.google.com/speed/pagespeed/module/admin

For Centmin Mod next .07 beta (19th beta) https://github.com/cen

[2014-05-10 01:51] #18 closed, assigned to centminmod

[2014-05-11 08:54] centminmod opened #19 "backport SELINUX detection to .06 stable"
https://github.com/centminmod/centminmod/commit/4359176ffe1724c9bdb8deebb464ca506b37f219

[2014-05-11 08:55] #19 closed, assigned to centminmod

[2014-05-14 00:59] centminmod opened #20 "Memcached server updated to 1.4.20 in .07 beta 19"
https://github.com/centminmod/centminmod/commit/ae2fc70f17980066cc70606f5c072addd2d12414

[2014-05-14 00:59] #20 closed, assigned to centminmod

[2014-05-22 17:39] centminmod opened #21 "New .07 beta 20 branch"
https://github.com/centminmod/centminmod/tree/123.07beta20

initial changes

Updated for .07 beta 20 branch
https://github.com/centminmod/centminmod/commit/ca7564735f7291377eb6036e02d6ac2c19ea5eff

increase default pm.max_requests from 500 to 5000
https://github.com/centminmod/centminmod/commit/6d2ee17e35489b2dedf0de699fb1078ca196a484

[2014-05-22 17:39] #21 closed, assigned to centminmod

[2014-05-28 12:31] centminmod opened #22 "Disable CentALT repo"
CentALT repo is missing in action and disappeared overnight !

https://github.com/centminmod/centminmod/commit/b82e11e8b7efef170fbf9648a60430f77eed1692

also disabled it for existing installs on first centmin.sh run from .07 beta21 onwards

https://github.com/centminmod/centminmod/commit/e8e8f41916a50f8bfebd67242c4ae6a8de1db3e5

[2014-05-28 12:31] #22 closed, assigned to centminmod

[2014-05-28 12:32] centminmod opened #23 "Nginx version updated to 1.7.1 in .07 beta 21"
https://github.com/centminmod/centminmod/commit/7b36c79a28955f9f54e6392ee0a34ca8ac680d2b

[2014-05-28 12:32] #23 closed, assigned to centminmod

[2014-05-28 12:32] centminmod opened #24 "Fix hardcoded $DIR_TMP variables"
https://github.com/centminmod/centminmod/commit/ce3fba09eb7d84779973fc929d6a00c0dcc31447

[2014-05-28 12:32] #24 closed, assigned to centminmod

[2014-05-28 12:35] centminmod opened #25 "Added checks to pagespeeduptask function for when NGINX_PAGESPEED=n in centmin.sh"
Addresses 2 issues when Nginx is recompiled with ngx_pagespeed disabled in centmin.sh NGINX_PAGESPEED=n where
1. the nginx.conf include file for /usr/local/nginx/conf/pagespeedadmin.conf isn't commented out automatically
2. there's no automatic commenting out of those 3 pagespeed include lines in ALL Nginx vhosts which had previously been uncommented (pagespeed enabled) located at /usr/local/nginx

[2014-05-28 12:35] #25 closed, assigned to centminmod

[2014-05-28 12:37] centminmod opened #26 "New .07 beta 21 branch"
https://github.com/centminmod/centminmod/tree/123.07beta21

[2014-05-28 12:37] #26 closed, assigned to centminmod

[2014-05-30 03:18] guigo2k opened #27 "centminmod identity preview"
Well, it's not an issue, just something I want to share.
Please have a look and tell me what you think.

![centminmod-logo-v1-light](https://cloud.githubusercontent.com/assets/4495453/3143162/7adc7c86-e9ea-11e3-940c-dbf093dc9964.png)
![centminmod-logo-v1-dark](https://cloud.githubusercontent.com/assets/4495453/3143164/7f2c8a9c-e9ea-11e3-824b-48e3fe2c9ed7.png)

[2014-06-01 04:37] centminmod opened #28 "back ported CentALT repo fixes from .07 beta to .06 stable"
https://github.com/centminmod/centminmod/commit/315c89589c763b5fc6bad04f2fdd7333d4ca9359

[2014-06-01 04:37] #28 closed, assigned to centminmod

[2014-06-18 16:59] centminmod opened #29 "Nginx GeoIP and Passenger detection on Centmin Mod Nginx upgrades"
With current .07 beta 21 release, if you have enabled in centmin.sh either option below and compiled Nginx with GeoIP and Phusion Passenger support originally and then upgrade to a new Centmin Mod release the new updated centmin.sh would not have either of the below 2 options enabled. You'd end up compiling Nginx without GeoIP and Phusion Passenger support and potentially break your site(s) functi

[2014-06-19 18:35] centminmod opened #30 "Postfix "postdrop: warning: unable to look up public/pickup: No such file or directory""
With the latest .07 beta 21, initial install right now the default MTA is via postfix while previously it was left to whatever CentOS system had installed by default. But if the pre Centmin Mod .07 beta 21 install, the CentOS system had sendmail installed and the initial install switches from sendmail to postfix, mail from the system might result in failed mail delivery and/or the error:

`"postdr

[2014-06-19 18:35] #30 closed, assigned to centminmod

[2014-10-01 05:39] danielmarquard opened #31 "Unattended installer fails to create Memcached status page"
I am using this unattended installer on CentOS 7:

https://gist.github.com/centminmod/dbe765784e03bc4b0d40/raw/installer.sh

Seems to work great overall, although I did notice it had a hard time with the filename of the Memcached status page it attempted to generate, so I thought I'd let you know. Looks like it could be as simple as a space where it doesn't belong. :) The installer's output is bel

[2014-10-01 20:01] #31 closed, assigned to centminmod

[2014-10-08 23:47] danielmarquard opened #32 "Troubleshooting 502 Bad Gateway"
Hi again. :)

So far twice during my testing, I've encountered a 502 Bad Gateway page while browsing a couple different websites on one of my CentOS 7 VMs running Centmin Mod. Both times, the page would load after refreshing.

It's been difficult for me to recreate this. I can't seem to find anything relevant to it in Nginx's error.log either.

I'm guessing this has something to do with PHP-FPM (w

[2014-10-14 06:47] #32 closed, assigned to nobody

[2014-12-02 22:21] jeffwidman opened #33 "wget url not working"
First--wasn't sure if I should report bugs here or on the forum. I'm used to working with open source projects through github issues, but in this case I think your forum is better... but you might consider disabling issues here on github so folks know to report issues in the forum? All that said, I tried to report in the forum, but said I'd have to do an intro and I'll do that later, no time for t

[2014-12-03 02:59] #33 closed, assigned to nobody

[2014-12-15 08:47] hwongcom opened #34 "phpng 7.0 working with memcached, imagick apcu?"
hi there, i've seen centmin working with php7.0 is that real? how to set it up to get it done?

can anyone provide the installation guide?

https://community.centminmod.com/threads/php-5-7-phpng-support-testing-for-centmin-mod-betas.892/#post-3956

[2014-12-17 11:47] jeffwidman opened #35 "Nginx staticfiles.conf interferes with rewrites of *.html urls"
I recently migrated a forum from Simple Machines to Xenforo and needed to rewrite the SMF urls to Xenforo urls.

Old url: `domain.com/forum/index.php/topic,101126.msg38.html`
Rewritten url: `domain.com/forum/index.php?posts/38`

Here's my Nginx rewrite rule:
`rewrite /forum/index\.php/topic,[0-9]+\.\bmsg([0-9]+)\.html /forum/index.php?posts/$1 redirect;`

However, when I apply this to my Centmin V

[2014-12-17 19:53] #35 closed, assigned to nobody

[2015-01-21 13:26] jeffwidman opened #36 "Nginx not responding to IPv4 when Listen directive updated to support IPv6"
I just tried editing my server block from `listen 80;` to `listen [::]:80;` and after saving and then restarting nginx, I went from a working Xenforo site to a Nginx 404 page.

I just upgraded to Nginx 1.7.9 (I'm using the beta08). The server block is the default centminmod nginx vhost one:

        server {
        listen                  80;
        listen                  443 ssl;

        serv

[2015-01-21 21:36] centminmod commented on #36
did you compile or recompile Nginx with IPv6 support - from http://centminmod.com/nginx.html

for existing installs same edit NGINX_IPV='y' and run centmin.sh option 4 to recompile Nginx

use http://ip6.nl/ to check if your site is IPv6 ready i.e. for sslspdy.com test site of mine http://ip6.nl/#!sslspdy.com

of course ensure your have domain DNS AAAA record set too

[2015-01-21 23:19] jeffwidman commented on #36
Yes `nginx -V` shows `--with-ipv6`

I'm waiting to setup the DNS record until I know that Nginx is correctly configured to listen for inbound IPv6 DNS requests. I was planning to just test the server by using the IPv6 IP address, not the domain name, but even before I got that far I noticed that just adding this listen block is taking the site down... even though it shouldn't be affecting the IPv4

[2015-01-21 23:36] centminmod commented on #36
my ipv6 usage and experience is limited. This is what i have for sslspdy.com for SSL config

    server {
    listen 80;
    listen [2604:180:1::fd2c:e402]:80 default_server ipv6only=on;
      server_name sslspdy.com www.sslspdy.com;
       return 301 https://$server_name$request_uri;
    }

    server {
      listen 443 ssl spdy;
      listen [2604:180:1::fd2c:e402]:443 default_server ssl spdy ip

[2015-01-21 23:41] jeffwidman commented on #36
To be clear, this bug isn't a big deal. I reported it simply because I suspect it might be a bug in centminmod's build of nginx with ipv6.

The server block I was using for IPv6:
      server {
    listen                  [::]:80;
    listen                  443 ssl;

    server_name             demodomain.com;

[2015-01-21 23:48] jeffwidman commented on #36
Actually, it looks like this is the culprit: http://trac.nginx.org/nginx/ticket/345

Nginx now has a default of `ipv6only=on`, so `listen [::]:80;` is functionally the same as `listen [::]:80; ipv6only=on`

To enable listening on both ipv4 and ipv6, need to explicitly tell the listen block to also listen on ipv4 with `listen [::]:80; ipv6only=off`

[2015-01-21 23:57] jeffwidman commented on #36
Hmm... just tested this, and `service nginx restart` fails whenever `ipv6only=off`is set.

If I have two separate listen directives, it works:

    server {
        listen                  80;
        listen                  [::]:80;

Weird--this shouldn't be necessary according to the serverfault and nginx bug ticket. Not sure if the culprit is nginx or how nginx is built by centminmod, or someth

[2015-01-21 23:59] kiksilog commented on #36
This is what I used
[code]

[2015-01-22 00:42] centminmod commented on #36
@kiksilog thanks for chiming in :) pretty much what I use too from my sslspdy.com example above :)

[2015-01-26 19:07] nlemoine opened #37 "Converting bash script into Ansible playbook"
Hi,

Have you considered converting the whole bash script into an Ansible playbook?
There are good tools outhere (Chef, Ansible, Puppet) that can bring server installation/configuration automation further.

I see various benefits:
- No need to do anyhting on the remote server, everything can be handled from your local computer
- Script be run at once and configure multiple servers
- Less and more

[2015-01-26 20:33] guigo2k commented on #37
+ for Ansible

[2015-01-26 21:19] centminmod commented on #37
I haven't got my head around Ansible, Chef or Puppet to be honest, so would need help there. But yeah Ansible would be most likley candidate.

[2015-01-27 14:01] nlemoine commented on #37
The idea was to convert the whole script into an Ansible playbook. Not just use Ansible to download and execute the script.

Ansible is not only used to install/configure a machine but can also ensure that services are running, etc. It can be run multiple times whereas a bash script can't (at least, it's not recommended to).

I'm aware it's a quite huge change but I wanted to suggest the idea. The

[2015-01-28 11:54] centminmod commented on #37
While that would be great but converting entire script to Ansible playbook would be quite a big job heh. But using Ansible for post Centmin Mod service management should be easier to do.

[2015-02-06 23:29] jeffwidman commented on #37
+1 for converting entire thing to Ansible. I prefer Ansible instead of Chef/Puppet/Salt.

Like the above poster, I looked into using Ansible for creating a nice LEMP stack, but George's custom tweaks are better, so I'm using Centminmod, but if there was a comparable Ansible script, I'd switch to it immediately--it's cleaner, more modular, and the idempotent aspect feels safer.

However, users woul

[2015-02-26 09:47] #36 closed

[2015-02-26 09:48] jeffwidman commented on #29
If something's fixed, do you mind closing the issue? I check repo's open issues every so often to see the unfixed issues... Same with pull requests, just either merge them or close them once they're handled.

[2015-02-26 09:52] centminmod commented on #29
well it's only partially fixed for GeoIP.. haven't got around to detection for Phusion Passenger heh

[2015-04-24 08:44] jeffwidman commented on #36
BTW, I was working on something else and found the issue. Nginx has a quirk where "ipv6only" variable can only be manually specified once per port across ALL domains. So most likely it's manually specified in another file thus can't be specified in my vhosts. More details here: https://codinginthetrenches.com/2013/12/14/nginx-ipv6only-setting-gotcha/

[2015-06-09 19:19] centminmod commented on #34
PHP 7 first alpha is coming soon https://community.centminmod.com/threads/php-5-7-phpng-support-testing-for-centmin-mod-betas.892/page-5#post-14643 :)

[2015-06-09 19:19] #34 closed

[2015-06-27 18:12] vasive opened #40 "wordpress vhost wp cli issue"
when I try and install wordpress vhost it prompts me to upgrade wp cli i get this error.

[code]

[2015-06-29 05:02] centminmod commented on #40
what version of centmin mod .07 stable or .08 betas 01/02/03 ? how old is the install ? command you used/ran to get this error ?

Also might want to post at wp-cli gith repo issues https://github.com/wp-cli/wp-cli/issues

[2015-07-06 14:41] atomGit opened #41 "PCRE install fails (url needs updating)"
CentOS 6.5 x86 Minimal
centmin-v1.2.3-eva2000.07

install fails when downloading  pcre-8.37.tar.gz because the file does not exist (404 from sourceforge)

`Download pcre-8.37.tar.gz ...
--2015-07-06 10:22:09--  http://downloads.sourceforge.net/project/pcre/pcre/8.37/pcre-8.37.tar.gz
Resolving downloads.sourceforge.net... 216.34.181.59
Connecting to downloads.sourceforge.net|216.34.181.59|:80... co

[2015-07-06 18:07] centminmod commented on #41
thanks @atomGit for heads up, fixed in 123.07stable branch and site download zip

replaced the old pcre mirror url with new one.

Might also want to check out .08 beta03 branch = 123.08beta03 lots of new features to play with https://community.centminmod.com/threads/centmin-mod-123-08beta03-branch-released.3110/ :)

[2015-07-06 18:07] #41 closed

[2015-09-28 23:13] jeffwidman commented on #37
I just open-sourced the Ansible roles I use to wrap centminmod for post-install configuration management:

https://github.com/jeffwidman/ansible-centminmod

[2015-10-10 10:28] hetykai opened #42 "how to uninstall centmin?"
how to uninstall centmin?

[2015-10-14 10:04] centminmod commented on #42
might be better to ask on forums https://community.centminmod.com/threads/discuss-centmin-mod-uninstall-routine.184/

however, there is no uninstall routine, only fresh reload of CentOS OS is best way as Centmin Mod tightly modified CentOS OS environment for it's requirements

[2015-11-10 06:08] Lakshanz opened #44 "FFMPEG/ FFMPEG-PHP install no longer works"
The inc/ffmpeginstall.inc script won't work anymore because atrpms repository is dead now. There's an outdated mirror available now on https://www.mirrorservice.org/sites/dl.atrpms.net/ .

[2015-11-10 06:12] #44 closed

[2015-11-10 06:30] centminmod commented on #44
yeah unfortunately atrpm is dead https://community.centminmod.com/threads/unable-to-install-ffmpeg-php-extension.1519/page-3

for some folks i.e. Xenforo users they can use FFMpeg static binaries https://community.centminmod.com/threads/xenforo-media-gallery-ffmpeg-binary.4419/ instead for now

[2015-11-10 06:51] Lakshanz commented on #44
Yes, mirror works fine.

Run `vim /etc/yum.repos.d/atrpms.repo` and insert

Save & run ffmpeg install again.

[2015-11-19 22:26] centminmod commented on #44
thanks @Lakshanz will look into it and see if the mirror can be trusted given atrpm history now

[2015-11-20 13:40] Xon opened #45 "installer.sh - network resilient issue"
The recommended unattended install process is not resilient to network errors.

[code]

The commands after the curl will execute even if the network connection is interrupted. This will result in the arbitrary scripting being executed, which can result in expected and unknowable behaviour.

The recommended workaround is to ensure **all** code in a function definition, and as the very last statemen

[2015-11-20 23:56] centminmod commented on #45
thanks @Xon got an example ? fyi, the installer.sh is only 10kb in size

[2015-11-21 03:56] Xon commented on #45
This is probably the best description: https://www.seancassidy.me/dont-pipe-to-your-shell.html

I'm not concerned about the security artefacts that people talk about with curl|bash, but ensuring the installer is reliable in the face of network interruptions.

[2015-11-21 04:00] centminmod commented on #45
oh i see what you mean regarding the code inside installer.sh, i though you meant the command line itself

[2015-11-21 05:16] Xon commented on #45
:+1:

[2015-11-28 13:26] #42 closed

[2015-11-28 13:26] #27 closed

[2015-11-28 13:27] #29 closed

[2015-11-28 13:27] #45 closed

[2015-11-28 13:27] #40 closed

[2015-11-29 18:41] centminmod commented on #44
@Lakshanz i updated centmin mod 123.09beta01 branch with the mirror for now https://community.centminmod.com/posts/21046/

[2015-12-09 08:16] Lakshanz commented on #44
@centminmod Since ATrpms is not longer maintained and still offer older versions of FFMpeg, i think move nux-dextop repository (http://li.nux.ro/repos.html) would be great.

[2015-12-26 07:57] jeffwidman opened #49 "Can you change your git settings to have git 'fast forward' when you merge?"
I always review the commit log before updating, and it's a bit inconvenient that the centminmod commit log is filled with all these unnecessary 'merged branch' commit messages.

For some git workflows that would make sense, but I don't think that's true here because the only work you're doing is on the branch and then merging into master.

By default, Git should fast-forward these merges so you do

[2015-12-26 08:00] centminmod commented on #49
I'll see what i can do, i only use Git GUI via sourcetree app on windows so it's probably a setting some where :)

[2015-12-26 08:42] jeffwidman commented on #49
On *nix machines, there's a `.gitconfig` file that also sets things. Possibly you have one somewhere on Windows and don't realize it?

Good suggestion to follow the stable branch, I'll do that.

Also, I still suggest you checkout the git book if you get time ever, it helped me a lot.

[2015-12-26 08:42] #49 closed

[2015-12-26 13:22] centminmod commented on #49
Cheers @jeffwidman i checked the .gitconfig and it isn't set so can't see why it behaves that way heh. Will check out the git book.. though I am most comfortable with the visual gui for Sourcetree especially when it highlights the diffs and changes I am about to commit :)

[2015-12-27 19:54] jeffwidman commented on #49
I use Sourcetree most of the time myself as I find it more convenient than the command line. But I didn't really understand how the Git branching model worked until I read Chapter 3 of that book.

[2015-12-28 06:16] centminmod commented on #49
Cheers @jeffwidman i've actually read that book :)

[2015-12-28 07:03] centminmod commented on #49
whoops i almost wiped 123.08stable branch doing some tests for this LOL

also read at https://www.atlassian.com/git/tutorials/git-log/filtering-the-commit-history you can filer out merge commits from log viewing

    git log --no-merges

[2016-01-11 13:53] TooKennySupreme opened #51 "postgresql php extension"
Hello,

I can not install the corect php70w-pgsql. The only one I get is pdo_pgsql.

Can you tell me what I have to do to get the php7 working with pgsql

Best

[2016-01-12 05:43] centminmod commented on #51
Hi @TooKennySupreme

You might want to sign up on official forums https://community.centminmod.com for more insight and info. Centmin Mod doesn't use php yum packages but source compiles PHP and it's required php extensions see http://centminmod.com/phpfpm.html.

As such for pdo_pgsql, it's currently a new addition to centmin mod 123.09beta01 only see https://community.centminmod.com/threads/centm

[2016-01-12 06:00] centminmod commented on #51
Just updated 123.09beta01 to support postgresql 9.5 server and php extension via same outlined method at https://community.centminmod.com/posts/23957/

[2016-01-13 20:46] TooKennySupreme commented on #51
Hi,

If we need an specific configuration is no way we can get the information from the community.
Ex: I need an  gnupg for php56 how do I install this ?

If we make an pay contribution do we get an FULL  documentation for centminmod...?

Best

[2016-01-13 20:49] TooKennySupreme commented on #51
To give you an hint :
with pdo-pgsql PHP you can not communicate with PosgreQSL you still need to
install:
php56w-pgsql	php-pdo_pgsql, php_database

Any way, you guys done an very good job .......!

Best

[2016-01-13 21:18] centminmod commented on #51
most documentation is on official site http://centminmod.com/ + forums https://community.centminmod.com/ and anything else you have questions about should be asked on the forums if possible https://community.centminmod.com/ as it's best for me to answer a question once where every forum member can benefit from that same answer ;)

Centmin Mod doesn't use any php related yum packages at all, so ins

[2016-01-13 21:29] centminmod commented on #51
@TooKennySupreme all done missing pgsql.so added https://community.centminmod.com/posts/24040/ in 123.09beta01 branch :)

[2016-01-19 17:03] TooKennySupreme commented on #51
Well done !

[2016-01-19 17:03] #51 closed

[2016-03-02 17:05] OttawaMark opened #52 "centmin.sh can't update memcached; script fails at line 663"
After running option 23, then 2 (to update the current version), command line invocation of ./centmin.sh fails with the following error message:
[code]

What appears to be going on:
- Finding the file inc/custom_config.inc using the relative path fails because the current path has the unexpected value of /etc/init.d
- Related to a failure in lines 207-222 of inc/cpcheck.inc, where the current dire

[2016-03-02 17:12] OttawaMark commented on #52
memcached -h
memcached 1.4.17

cat /etc/redhat-release
CentOS release 6.7 (Final)

Centmin Mod 1.2.3-eva2000.08

[2016-03-03 05:12] centminmod commented on #52
memcached isn't updated automatically from centmin mod code update

You can start fresh with clean centmin mod code only (won't touch your installed software), just updates centmin mod code at `/usr/local/src/centminmod`. See instructions at https://community.centminmod.com/posts/27848/

Then run centmin.sh menu option 10 to update memcached

[2016-03-03 05:16] centminmod commented on #52
ah i see what you mean regarding

* Finding the file inc/custom_config.inc using the relative path fails because the current path has the unexpected value of /etc/init.d
* Related to a failure in lines 207-222 of inc/cpcheck.inc, where the current directory is changed to /etc/init.d

[2016-03-03 05:21] centminmod commented on #52
@OttawaMark should be fixed in commit at https://github.com/centminmod/centminmod/commit/1993c68c6e3e9a39e4f68edee3c3d622de22b784

[2016-03-12 07:12] jeffwidman commented on #52
If fixed in this commit, then shouldn't this issue be closed?

[2016-03-12 07:26] centminmod commented on #52
indeed

[2016-03-12 07:26] #52 closed

[2016-04-18 06:03] hannesbe opened #53 "Disabling open_basedir on domain level doesn't work"
I've spend many hours trying to figure out strange behavior when setting op a Laravel domain. Laravel requires access outside the site's root, so I disabled `open_basedir` by copying `/usr/local/nginx/conf/php.conf` to `/usr/local/nginx/conf/php_l5.conf`, commenting out `fastcgi_param PHP_ADMIN_VALUE open_basedir` and including  `/usr/local/nginx/conf/php_l5.conf` instead of `/usr/local/nginx/conf

[2016-04-18 09:10] centminmod commented on #53
@hannesbe what's the contents of `/usr/local/nginx/conf/conf.d/example.com.conf` ?

[2016-04-18 14:02] hannesbe commented on #53
[code]

[code]
[code]

[2016-04-20 00:23] centminmod commented on #53
hmm seems for now you'd need to disable open_basedir restrictions globally in /usr/local/nginx/conf/php.conf :)

thanks for bringing this to my attention :+1:

[2016-05-20 11:29] #53 closed

[2016-05-29 05:33] saadismail opened #54 "Addvhost removes all logs of same centmin.sh execution"
If I execute centmin.sh & add multiple vhost in the same session then it doesn't keep all logs under centminlogs. All old logs of that session are removed & file only have log for the last vhost addition.

[2016-05-29 06:18] saadismail commented on #54
Pushed a pull request #55

[2016-05-29 06:43] centminmod commented on #54
@saadismail thanks so much for catching that bug. Usually centmin.sh menu options are run once per session but overlooked running them repeatedly. This commit should fix it in centmin mod 123.09beta01 at https://github.com/centminmod/centminmod/commit/52c833a01e2395df11489fb22aa0ff36387a1f04 which will be the next stable release

also may want to look into /usr/bin/nv command http://centminmod.com

[2016-05-29 12:00] centminmod commented on #54
hmm that commit didn't work as expected so back to drawing board

[2016-07-08 17:40] #54 closed

[2016-08-01 03:12] thiagoafc opened #56 "Error stable install"
error on file inc/cpcheck.inc

[2016-08-01 05:26] centminmod commented on #56
ah just fixed https://github.com/centminmod/centminmod/commit/84154266d6752f984c7b8e6d34c4c5447acc9f5b thanks @thiagoafc for heads up !

[2016-08-01 05:26] #56 closed

[2016-08-15 10:41] tuwid opened #57 "support for lets encrypt"
Hi,
its quite a nice project and  I was wondering if you were planning to add lets encrypt auto-install features
Lets encrypt lets you get a free ssl cert by doing a webcheck verification

[2016-08-15 12:50] morloderex commented on #57
It already has support for letsencrypt. Look at some of the branches of the project.

[2016-08-15 13:31] tuwid commented on #57
@morloderex link ?

[2016-08-15 13:37] morloderex commented on #57
[here you go](https://centminmod.com/acmetool)

[2016-08-15 13:39] centminmod commented on #57
@tuwid @morloderex just in time as centmin mod letsencrypt integration addon acmetool.sh is about to begin public beta testing see https://community.centminmod.com/threads/official-acmetool-sh-testing-thread-for-centmin-mod-123-09beta01.8290/ :)

@morloderex the old branches are deprecated due to a total rewrite explained at https://centminmod.com/acmetool

[2016-08-15 14:37] tuwid commented on #57
Thanks @centminmod @morloderex

[2016-08-15 14:37] #57 closed

[2016-08-22 12:00] Neilpang opened #58 "Is there any plan to support ubuntu/debian ?"
Is there any plan to support ubuntu/debian ?

[2016-09-20 13:18] centminmod commented on #58
@Neilpang FAQ item 12 outlines the OS support plans https://centminmod.com/faq.html unfortunately not right now. CentOS/RHEL for now

[2016-09-20 13:54] Neilpang commented on #58
@centminmod   Thanks

[2016-09-20 13:54] #58 closed

[2016-10-06 09:37] IndiAsh opened #59 "SSL - Problem with subdomain redirection"
Hello
I have a small problem and i don't know if its a bug or not.
I have just setup a ssl certificate. (example domain.com)
the certificate is for the domain http://www.domain.com.
I have also a subdomain http://accounts.domain.com
When i visit the http://www.domain.com i have inserted into the conf to redirect to https://www.domain.com.
The subdomain http://accounts.domain.com does not have a re

[2016-10-07 00:05] centminmod commented on #59
https://community.centminmod.com/posts/37586/ ;)

[2016-10-07 00:05] #59 closed

[2016-10-30 21:04] raciasolvo opened #60 "application/font-woff2"
123.09beta01
'/usr/local/nginx/conf/mime.types' does not have 'application/font-woff2'.
'content-type:application/octet-stream' sets now.

[code]

[2016-10-30 21:31] centminmod commented on #60
thanks @raciasolvo for heads up

fixed https://github.com/centminmod/centminmod/commit/012417a329b48721e276fb54c7f87c91af2187b4 :)

[2016-10-30 23:43] raciasolvo commented on #60
Thank you!

[2016-10-31 19:26] #60 closed

[2016-11-05 04:31] raciasolvo opened #61 "Session resumption (caching)"
Hello!

Session resumption (caching) does not work (123.09beta01)

For session resumption (caching) define
[code]
at http{}

ssllabs.com tested.

[2016-11-05 04:42] raciasolvo commented on #61
I think that we have to define ssl_session_timeout at http{} too.

[2016-11-07 13:10] raciasolvo opened #62 "csf: IPV6 = 0"
I updated centmin today and reboot.
csf has error now:
Invalid configuration line [IPV6 = 0] in /etc/etc/csf.conf
We have to change:
`IPV6 = "0"`
123.09beta01

[2016-11-14 20:39] centminmod commented on #62
ah that was fixed here https://community.centminmod.com/posts/39603/ :)

[2016-11-14 20:39] #62 closed

[2016-11-23 05:19] centminmod commented on #61
are you sure ? what you use to test site with for this ?

seems to be working for me at https://dev.ssllabs.com/ssltest/analyze.html?d=centminmod.com&hideResults=on&latest

![image](https://cloud.githubusercontent.com/assets/5899584/20551816/21636910-b190-11e6-8d6e-d72399e7edc8.png)

[2016-11-23 06:26] raciasolvo commented on #61
Do you use your https server as default? My default server is http and have other server name. Read about this problem:
https://forum.nginx.org/read.php?2,152294,152294
http://stackoverflow.com/questions/22732045/session-cache-not-detected-in-nginx

[2016-11-23 07:01] raciasolvo commented on #61
Hm... I have A+ (123.09beta01), but centminmod.com has A-rating. I need to see the difference.

[2016-11-23 20:50] centminmod commented on #61
https://forum.nginx.org/read.php?2,152294,152401#msg-152401 that shouldn't apply to centmin mod generated https vhost as all have a include file `/usr/local/nginx/conf/ssl_include.conf` which includes

[code]

there is not centmin mod https generated vhost which does not contain the ssl_session_cache directive

[2016-11-24 03:58] raciasolvo commented on #61
Yes, we have `include /usr/local/nginx/conf/ssl_include.conf;` at all `server{}` sections by default. You're right.

I understand better the reason why I have the issue. Thank you.
It is possible that one day I commented out the `include` in one of the sections or manually created section or use different `ssl_session_cache`. I do not remember that, when tested the server using ssllabs.com. I did

[2016-11-26 11:49] centminmod commented on #61
Good to know :)

[2016-11-26 11:49] #61 closed

[2016-12-02 09:50] tuwid opened #63 "skip mariadb installation"
Hi,
i was just experimenting with centmin i really like it but I have a situation where i should skip the mariadb installation part. Is there any way I could skip the mariadb installation part by some tweaking ?

[2016-12-02 12:45] centminmod commented on #63
MariaDB install can't be skipped but you can disable MariaDB service for existing installs. This allows re-enabling if needed.

[code]

or pre-install, set variable below in manually created /etc/centminmod/custom_config.inc persist config file

`MYSQLSERVICE_DISABLED='y'`

then install centmin mod which will install MariaDB but disable it post initial install.

[2016-12-05 09:34] tuwid commented on #63
no workarounds to just skip it ? Point is that I already have percona on that server and I cant switch now as i have a masterless replica setup there.
Any other ideas i could use ? @centminmod

[2016-12-05 09:55] tuwid opened #64 "limited user / git deployment"
Hi,
i started recently to use centminmod and I really love it.
On most cases its the perfect solution but I'm facing this situation where I should give access to 2 devs to git pull / composer update on the staging server.

Whats the best practice for this on centminmod ? Do i just create the two un-priviledged users and put them in the nginx group (as primary) or there is some "best practice"

I w

[2016-12-16 12:56] tuwid opened #65 "Operations in SCREEN"
Hi,
i've been using this amazing product for some time now and often happens that my network connection would drop (dont ask, universe hates me ) so I was thinking that why the operations inside centmin arent done via screen ? A screen would allow the process to continue even if the user is disconnected

[2016-12-16 14:55] centminmod commented on #64
thanks for kind words probably best to ask on the forums as other Centmin Mod users might have tips too https://community.centminmod.com

[2016-12-16 14:56] centminmod commented on #63
Centmin Mod is for fresh OS installs only so if you have existing web stack elements like apache, php or percona mysql then i recommend you do not install Centmin Mod as there's no tests for compatibility in the routines to work nicely with other existing web stack software

[2016-12-16 14:57] centminmod commented on #65
Another nice question for the forums https://community.centminmod.com ;)  Which operations you talking about ? initial install ? You can do startup a screen session for that and then run initial install. Or you mean for nginx and php-fpm compiles ?

[2016-12-16 16:01] tuwid commented on #65
@centminmod i was referring more to the initial setup as if that goes wrong on that phase you have to redo the server over..
Also would be nice to have in other processes but mostly in the init but the point is that i always forget to do that (dunno why just has a tendency to slip my mind) and since it happened to me a couple of times i recalled that many installers do that (they run inside a scre

[2016-12-16 16:04] tuwid commented on #63
@centminmod i only have percona there, no web stack and other stuff but percona is under a cluster and wanted to use centmin for the web stack

[2016-12-17 15:02] tuwid opened #66 "IMAP / POSTFIX mailbox support in the near future ?"
Hi,
is there any plan to support mailbox and dns management in the future ?

[2016-12-17 16:00] centminmod commented on #63
answered at https://community.centminmod.com/posts/41722/

[2016-12-17 16:00] centminmod commented on #65
answering at https://community.centminmod.com/threads/operations-in-screen-65.9799/#post-41720

[2016-12-17 16:05] centminmod commented on #66
There's no plans to as I don't want to be troubleshooting email deliverability issues for free which have many factors outside of the postfix/imap servers themselves and for reasons outlined at https://centminmod.com/email.html and https://community.centminmod.com/threads/why-you-may-not-want-to-run-your-own-domain-com-email-server.9065/

use 3rd party @domain.com email providers instead https://c

[2016-12-17 16:07] centminmod commented on #66
dns management you can do already via optional NSD dns https://community.centminmod.com/threads/domain-name-dns-setup-on-local-nsd-server.855/ but like email, for reliability, uptime, performance and better efficient local server resource usage,  best to use 3rd party DNS i.e. cloudflare as dns only is free https://community.centminmod.com/threads/cloudflare-dns-only-configuration.6867/

[2016-12-20 00:37] tuwid commented on #66
thanks for the info, abundant as always

[2016-12-20 00:37] #66 closed

[2016-12-27 17:32] sflcnetwork commented on #65
I have the same "issue" (due to a spotty connection where I am geographically at the moment), this isn't a centminmod bug/problem, your ssh connection is terminated abruptly, that's your issue and what you were doing at the time will of course abruptly come to an end, whether you were adding a domain, generating a self-signed cert, recompiling nginx or just sitting on htop.

Ultimately, what I rec

[2016-12-29 14:06] tuwid commented on #65
@sflcnetwork its not a bug its more like a recommendation that that initial install to start with screen.
Anyway i'll try to remember to start screen/tmux next time

[2017-01-02 06:14] #64 closed

[2017-01-02 06:14] #63 closed

[2017-04-13 17:24] webpuntocero opened #69 "I can't install Centmin from my IP 163.172.21.88"
Hi, I'm trying to install centminmod on my server with the IP 163.172.%.% , but is impossible download files from GitHub.

Exist some solution for install centmin from other source?

Here the terminal:

Download axel-2.12.tar.gz ...
--2017-04-13 19:03:11--  https://github.com/eribertomota/axel/archive/2.12.tar.g

[2017-04-14 09:49] alexgoussev opened #70 "Missing slash in the path of included file in /tools/nginxupdate.sh file, line 383"
There is a missing slash in the path of included file (an argument of the "source" command) in /tools/nginxupdate.sh file, line 383.

[2017-04-15 05:36] alexgoussev opened #74 "Wrong expression in if-statement in inc\suhosin_setup.inc, line 3"
The line is
if [[ "$PHPVERCHECK" != '5.7' || "$PHPVERCHECK" != '7.0' ]]; then
The expression in this if-statement is always 'true' regardless of the value of PHPVERCHECK

[2017-04-15 05:45] centminmod commented on #74
Ah i see what you mean. That's for the heads up :)

[2017-04-15 05:56] centminmod commented on #70
thanks @alexgoussev fixed :)

[2017-04-15 06:01] #70 closed

[2017-04-15 06:01] #74 closed

[2017-04-15 06:02] centminmod commented on #69
@webpuntocero where is your server located geographically and which web host ? could be Github has blocked your ip or location ? Is it working now ?

[2017-04-15 06:02] alexgoussev opened #75 "Strange behavior in mariadbinstallfunct() function in inc/mariadb_install.inc"
The mariadbinstallfunct() function in inc/mariadb_install.inc has two main if-statement
line 432: if [[ "$MDB_INSTALL" = [yY] ]];
line 562: if [[ "$MDB_YUMREPOINSTALL" = [yY] ]]; then
I think second 'if' must be 'elif' to prevent installation via yum repo if both MDB_YUMREPOINSTALL and MDB_INSTALL set to 'y'.

[2017-04-15 06:09] centminmod commented on #75
thanks @alexgoussev  i changed line 562 to

[code]

to prevent accidental setting of  both MDB_YUMREPOINSTALL and MDB_INSTALL to 'y'.

[2017-04-15 06:11] #75 closed

[2017-04-15 06:30] alexgoussev opened #76 "ARCH_OVERRIDE is used but not defined in centmin.sh, line 655"
line 655 is
if [ "${ARCH_OVERRIDE}" != '' ]
Bit ARCH_OVERRIDE is not defined anywhere above that.
It is just mentioned in commented lines 844-855 below.

The same is in tools/nginxupdate.sh file, line 362.

[2017-04-15 06:35] centminmod commented on #76
thanks @alexgoussev seems this boo boo dates back 3yrs ago https://github.com/centminmod/centminmod/blame/123.09beta01/centmin.sh#L655 :)

related to https://github.com/centminmod/centminmod/blob/123.09beta01/readme.txt#L33-L35

[2017-04-15 06:41] #76 closed

[2017-04-15 10:53] alexgoussev opened #79 "Maybe bug in inc/php_configure.inc, line 654"
line 654:
if [[ "$MDB_INSTALL" == [yY] || "$MYSQL_INSTALL" == [yY] ]]; then

Each part of the if/else-statement contains the same code.

[2017-04-15 11:01] centminmod commented on #79
@alexgoussev indeed it does now can't trace back the changes as it was once different for some reason that escapes me now :)

oh i think it's for compiling php without mysql/mysqlnd support when MDB_INSTALL='n' or MYSQL_INSTALL='n' though no one does that and i generally no longer recommend installing them set to no.

[2017-04-15 11:08] #79 closed

[2017-04-15 16:18] webpuntocero commented on #69
My server is located in france.

The issue was fixed by GitHub Staff. My IP address was being blocked, and they've removed the block, so now I can to connect.

I've installed Centmin successfully. Thanks !!

[2017-04-15 17:13] centminmod commented on #79
whoops my mistake it was correct in the first place as centmin.sh defaults to = n for

[code]

1st was old manual rpm install and 2nd was official oracle mysql which both are disabled so the else statement is for the default MariaDB official yum repo installs.

[2017-04-16 17:54] centminmod commented on #69
Ah great to hear :)

[2017-04-16 17:54] #69 closed

[2017-04-17 11:55] #65 closed

[2017-05-10 15:37] duy13 opened #90 "Sticky Module & Centminmod Nginx 1.13.0"
[code]

Install **nginx-sticky-module-ng** module in **123.09beta01** failed

[code]

Edit **centmin.sh**:

[code]

May be Nginx 1.13.0 does not compatible with sticky-module?

[2017-05-10 15:49] centminmod commented on #90
yeah last time i checked it was broken https://bitbucket.org/nginx-goodies/nginx-sticky-module-ng/issues/17/nginx-19-with-stream-module-conflict

[2017-05-10 15:57] duy13 commented on #90
Thanks, so if we do not compile --with-stream is it work?

[2017-05-10 16:24] centminmod commented on #90
try and see though https://bitbucket.org/nginx-goodies/nginx-sticky-module-ng/issues/26/not-compile-nginx-1112 suggests it won't work

[2017-06-28 19:34] centminmod opened #92 "Update site, faq, guides for Centmin Mod 123.09beta01/stable documentation"
Only updating documentation is holding back 123.09beta01 to 123.09stable release right now. Once documentation is updated, then 123.09stable will be released.

- [ ] centminmod.com site documentation
- [ ] centminmod.com site faq

[2017-06-29 16:53] centminmod opened #93 "Need better centmin.sh menu option 22 wp_updater cronjob scheduling"
If you have many wordpress installs created via centmin.sh menu option 22, the generated wp_updater cronjob's schedule may result in overlapping schedules causing php-fpm restart issues https://community.centminmod.com/posts/51319/

committed fix for new centmin.sh menu option 22 generated wp_updater cronjob scripts at https://github.com/centminmod/centminmod/commit/fd31c881a083d06ecab10e03e0b5597

[2017-06-29 18:45] #93 closed

[2017-07-01 03:09] jellday opened #94 "How to change the MariaDB default mirror?"
I encounter connection time out problem when fresh install centminmod during MariaDB yum installation and through centmin.sh option 11.
The MariaDB thus is not installed.
The problem causing that is the VPS is in China, and have poor connection of the default download link. But MariaDB does have mirrors in China.
How do I do to replace the default mirror with the China one?
And now since my MDB is

[2017-07-01 03:37] centminmod commented on #94
Sorry to hear, unfortunately such problems with China connectivity are out of my control. What do you mean VPN usage will turn down automatically ?

As to MariaDB mirror changing, not entirely sure would probably need to contact MariaDB themselves and see what options are available as I am sure you're not the only person having issues with China connectivity.

[2017-07-01 04:25] centminmod commented on #94
Also to troubleshoot initial install issues, having access to the initial install log would be useful.

## Troubleshooting Initial Install

To troubleshoot initial installation, you need to check the initial install log at /root/centminlogs and instructions under Sharing logs and errors heading for using Pastebin.com or gist.github.com to share a sanitised version of the contents of the initial in

[2017-07-02 14:43] jellday commented on #94
Thank you for your detailed help!!!
yum list MariaDB-client MariaDB-common MariaDB-compat MariaDB-devel MariaDB-server MariaDB-shared
Output:
`[21:41][root@jdcloud.xxx.net ~]# yum list MariaDB-client MariaDB-common MariaDB-compat MariaDB-devel MariaDB-server MariaDB-shared
Loaded plugins: fastestmirror, priorities, security
Repository base is listed more than once in the configuration
Repository u

[2017-07-02 20:08] centminmod commented on #94
hostmail and 126.com are banned email providers on my forum right now

what happens when you remove backup and then remove `/etc/yum.repos.d/centalt.repo` file and run `yum clean all` and try again

[code]

[2017-07-03 03:22] jellday commented on #94
# yum list MariaDB-client MariaDB-common MariaDB-compat MariaDB-devel MariaDB-server MariaDB-shared
Loaded plugins: fastestmirror, priorities, security
Repository base is listed more than once in the configuration
Repository updates is listed more than once in the configuration
Repository extras is listed more than once in the configuration
Repository centosplus is listed more than once in the con

[2017-07-03 03:29] centminmod commented on #94
"Failed to connect to 2605:9000:401:102::2: Network is unreachable

Looks like IPv6 networking isn't working on your server.  You can try disabling IPv6 on your server using same method of /etc/sysctl.conf edit outlined at https://community.centminmod.com/threads/troubleshoot-slow-ssh-logins.12124/ adding to /etc/sysctl.conf

[code]
then run

[code]
then try again

[code]

also i set your email fo

[2017-07-03 03:45] jellday commented on #94
I found a solution, replace the default configuration section:
[mariadb]
name = MariaDB
baseurl = http://yum.mariadb.org/10.1/centos7-amd64
gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
gpgcheck=1

with one of the mirror url in China
[mariadb]
name = MariaDB
baseurl = https://mirrors.tuna.tsinghua.edu.cn/mariadb/yum/10.1/centos7-amd64
gpgkey = https://mirrors.tuna.tsinghua.edu.cn/mariadb/yum/

[2017-07-03 03:53] jellday commented on #94
The output for yum list...
yum list MariaDB-client MariaDB-common MariaDB-compat MariaDB-devel MariaDB-server MariaDB-shared
Loaded plugins: fastestmirror, priorities, security
Repository base is listed more than once in the configuration
Repository updates is listed more than once in the configuration
Repository extras is listed more than once in the configuration
Repository centosplus is listed

[2017-07-03 03:56] centminmod commented on #94
yes that was the solution i was thinking of eventually

your  curl ipinfo.io result is what i was thinking of basing the detection on so if country = CN, use a different base mirror

[code]

[2017-07-03 04:40] centminmod commented on #94
try updated 123.09beta01 beta now with China server auto detection https://github.com/centminmod/centminmod/commit/408b1c6cebe1a0ffa3eeda2712af0829afae2d2a :)

[2017-07-03 05:37] jellday commented on #94
Yes, replace the mirror and problem solved

[2017-07-03 05:37] #94 closed

[2017-07-03 06:14] centminmod commented on #94
Great to hear. FYI, usually mariadb yum mirror system should of pointed you to China mirrors automatically but seems they didn't for you.

[2017-07-03 18:01] #90 closed

[2017-07-27 19:24] concatime opened #95 "Documentations about `with-ld-opt` & `with-cc-opt`"
Hi, could you provide some informations in the docs about the compile options.
[code]
I meen, I have absolutely no idea what each option means, and why it's useful in this context.

[2017-07-29 03:53] centminmod commented on #95
Best to google search for each option as there's heaps of info out there. The basic gist is nginx is completed with jemalloc memory allocator instead of default glibc (google for jemalloc vs tcmalloc vs glibc) and compiled for Intel cpu 64bit march=native optimisation with nginx fastopen TCP support and optimal config for both compile speed and resulting nginx binaries performance.

[2017-07-31 04:53] phainv opened #96 "How to disable SSL"
My certificate expired. How to temporarily disable SSL. We will renew and open it again later.
Thanks :)

[2017-07-31 05:28] centminmod commented on #96
Hi you might want to join up on official community forum to ask at https://community.centminmod.com/

[2017-07-31 09:01] phainv commented on #96
thanks y :)

[2017-08-04 19:52] #96 closed

[2017-08-30 13:27] johnbritto1 opened #99 "yum release version not found."
Hello,

I am getting the following error while doing yum preflight check.

It turns out to be that the inc/downloadlinks.inc file wasn't updated.
Could you please check it once because i could be wrong.
eg: CENTOSSEVENPERCONALRELEASEFILE="percona-release-0.1-3.noarch.rpm" doesn't exist.
CENTOSSEVENEPELFILE="epel-release-7-2.noarch.rpm" doesn't exist.
CENTOSSEVENRPMFORGE="http://pkgs.repoforge.org/

[2017-09-01 04:11] centminmod commented on #99
thanks for the heads up should be fixed in 123.09beta01 branch https://github.com/centminmod/centminmod/commit/ee39f0e5056784e8d84b7f0d0acdd319b15abbf1 :)

[2017-09-01 04:11] #99 closed

[2017-09-29 15:55] #95 closed

[2017-10-03 03:43] phainv opened #101 "Remote database"
Hi all,

i have Server Mariadb => `Server 1`

Server 2: Using apache => Remote database `Server 1` => Working
Server 3: Using Nginx (centminmod) => Remote database `Server 1` => `Not working`

server 2 and server3 using same user and database. but server 3 returned `Connection refused`

I've tried localhost. This connected to `Server 1`
Thanks!

[2017-10-03 04:23] centminmod commented on #101
Centmin Mod installs CSF Firewall https://centminmod.com/csf_firewall.html so you need to whitelist your remote database server on Centmin Mod server as per Getting Started Guide Step 4 https://centminmod.com/getstarted.html#4

[2017-10-03 04:31] phainv commented on #101
Very thanks. it worked for me 👍

[code]

[2017-10-03 04:32] #101 closed

[2017-12-05 08:57] snowboarder04 opened #103 "[Suggestion] Remove option 19) Install FFMPEG and FFMPEG PHP Extension"
As noted in the Centminmod [third-party YUM documentation ](https://centminmod.com/yum.html), it seems as though the ATrpms repository has been offline since 2015 and shows no sign of coming back.

Since this FFMPEG/PHP option explicitly requires ATrpms repository to be installed, configured and available, it seems counter intuitive to keep this option in place.

[2017-12-11 09:16] centminmod commented on #103
Yes currently centmin mod is using a fall back mirror of ATrpms yum repo IIRC just for folks who still require it.

[2017-12-24 11:31] agreements opened #104 "Trying to install"
And i get the following.
installer.sh: line 175: bc: command not found
installer.sh: line 177: bc: command not found
installer.sh: line 180: /root/centminlogs/firstyum_installtime_241217-112815.log                                                                                           : No such file or directory
---------------------------------------------------------------------------
installe

[2017-12-25 06:23] centminmod commented on #104
what was exact command used ? as outlined at https://github.com/centminmod/centminmod ?

you're missing bc package so might need to start with

[code]

[2018-01-16 10:06] aqw opened #105 "shebang should be bash not sh"
I saw you link this script on Hackernews. Just thought I'd mention that your shebang is declared as ``/bin/sh`` but your script uses features (such as [[ ]]) that are in bash.

Running this script on systems which point sh to a more minimal shell (such as dash, mksh, etc) will fail.

---Alex

EDIT: just realized there's a lot more code in this repo. The file linked was centmin.sh

[2018-01-16 10:18] aqw opened #106 "[[ -z cat file ]] -> [ -s file ]"
https://github.com/centminmod/centminmod/blob/a2265f818866cea065c2b233b4076cd317c92445/centmin.sh#L69

Can be replaced with

    if [ -s /etc/resolv.conf ]; then

It will save you from spawning an unnecessary subshell.

I hope you don't mind the random nitpicks. I'm distracting myself as lunch approaches...

---Alex

[2018-01-23 01:22] centminmod commented on #105
Hi @aqw pretty sure all my scripts use `/bin/bash` not `/bin/sh` ? Centmin Mod is built for CentOS 6 & 7 systems fresh virgin systems only so usually they'd default to using bash.

[2018-01-23 01:26] centminmod commented on #106
@aqw cheers I welcome feedback like this. Centmin Mod code is an evolution in my experience with shell scripting from noob 6+ yrs ago till now so you will see varying levels of proficiency with the code heh.

Coincidentally, another Alex @alexgoussev had a field day with feedback on my code ages back too https://github.com/centminmod/centminmod/pulls?q=is%3Apr+author%3Aalexgoussev :)

[2018-01-23 02:02] centminmod commented on #105
oh wait your right LOL centmin.sh is using `/bin/sh` could of sworn it was `/bin/bash` whoops !

[2018-01-23 08:23] aqw commented on #106
Oops. Yeah, I meant [ ! -s filename ]. My bad.

Thanks for the correction. :-)

---Alex

[2018-02-12 04:23] #106 closed

[2018-02-12 04:23] #105 closed

[2018-02-12 04:23] #104 closed

[2018-04-13 03:56] makeshyft-tom-g opened #109 "Installer stalls"
Hi, my installer for this stops at:

update varnish cache 4.1 yum repo config
Loaded plugins: fastestmirror, priorities, versionlock
http://apt.sw.be/redhat/el7/en/x86_64/rpmforge/repodata/repomd.xml: [Errno 14] curl#6 - "Could not resolve host: apt.sw.be; Name or service not known"
Trying other mirror.
Retrieving key from https://packagecloud.io/varnishcache/varnish41/gpgkey
Importing GPG key 0xC

[2018-04-13 08:11] centminmod commented on #109
Just updated Centmin Mod 123.09beta01 with a fix so try a fresh install on fresh CentOS 7 reloaded image. Problem seems to be that DigitalOcean is having connectivity issues with packagecloud.io Varnish Cache yum repo so I have disabled it completely for now https://github.com/centminmod/centminmod/commit/582946edae29f07a6e55f0fa93365aebe93fa242

[2018-04-13 12:25] #109 closed

[2018-04-13 20:48] makeshyft-tom-g opened #110 "Back-to-back runs of option 22 produce cursor bug"
So today I ran option 22 ... 4 times and transferred 4 sites to a single droplet.

I noticed one additional bug which I think you will be able to reproduce.

When I finished one "option 22" run...... and then ran it again ..... after the first completed....... the cursor to type in the web addresses or emails was jumping to the beginning of the line and overwriting the labels / instructions.

When

[2018-04-13 20:55] jjcav84 commented on #110
That sounds more like an issue with the terminal or the droplet itself.  I have never heard of a script having that impact before, but let's see what George says.  Maybe post on the forums, and see if someone else has any other ideas.  What terminal are you using?  And are you using bash or something else like zsh?  I know when I used to use zsh with oh-my-zsh it had a little bit of latency at tim

[2018-04-13 20:58] makeshyft-tom-g commented on #110
I'm using putty on Windows 7.  It is entirely possible you are right, I really wouldn't know if a script can cause that or not. Lets see.

[2018-05-01 18:50] oscarsmx opened #111 "Disabled "mysql service" keeps the service running after installation"
So, this is happening right now.

If you change "mysqlservice_disabled" in centmin.sh after installation the service is running.

[2018-05-01 18:52] oscarsmx opened #112 "MongoDB and Redis error after installation php 7.0"
This is the error:

PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/local/lib/php/extensions/no-debug-non-zts-20151012/mongo.so' - /usr/local/lib/php/extensions/no-debug-non-zts-20151012/mongo.so: cannot open shared object file: No such file or directory in Unknown on line 0
PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/local/lib/php/extensions/no-debug-non-zts-20

[2018-05-01 19:29] centminmod commented on #112
Which version of Centmin Mod 123.08stable or 123.09beta01 ? As to solution see https://community.centminmod.com/threads/php-warning-php-startup-unable-to-load-dynamic-library.9113/

[2018-05-01 19:38] centminmod commented on #111
`MYSQLSERVICE_DISABLED='n'` needs to be set to `MYSQLSERVICE_DISABLED='y'` before Centmin Mod initial install.

Instead of editing centmin.sh, proper way to override variables is to set them up in /etc/centminmod/custom_config.inc persistent config file prior to installation which means creating directory and file prior to initial install. This is outlined at https://centminmod.com/upgrade.html#pe

[2018-05-01 19:38] #103 closed

[2018-05-01 22:46] oscarsmx commented on #111
I did change MYSQLSERVICE_DISABLED='n' to MYSQLSERVICE_DISABLED='y' before the installation

It's kind of weird since I did change pure-ftpd too and pure-ftpd was disabled.

This was done with the github clone of the current centminmod (I don't like the betainstaller)

[2018-05-01 22:48] oscarsmx commented on #112
Centmin Mod 123.08stable

I did change (centmin.sh) phpmongodb=y and updated the # to 1.4.3

PHPMONGODB='y'
MONGODBPHP_VER='1.4.3'

As fix I been doind pcel install mongodb and just change the mongodb.ini to the right setting.

[2018-05-02 04:29] centminmod commented on #111
Git clone of the master branch or 123.08stable branch or 123.09beta01 branch ? Currently main active dev branch is 123.09beta01 with latest advancements which are literally years beyond 123.08stable. Once a week 123.09beta01 changes are merged into master branch. So if you cloned on github master you would be getting 123.09beta01 code which is ~1 week behind 123.09beta01 latest code.

But are you

[2018-05-02 04:53] oscarsmx commented on #111
123.08stable branch with centos 7.4

[2018-05-02 06:30] centminmod commented on #112
Ah now I remember 123.08stable uses the only mongo php extension https://pecl.php.net/package/mongo so setting version to 1.4.3 won't work. Only 123.09beta01 with newer code uses newer mongodb php extension https://pecl.php.net/package/mongodb so technically not a bug. As 123.09beta01 gets all the newer stuff :)

[2018-05-02 06:53] centminmod commented on #112
Backported 123.09beta01's mongodb routine for 123.08stable https://github.com/centminmod/centminmod/commit/f14e3a567370bb5d31bc790d8db661e6531f8804 so you can update existing 123.08stable install via centmin.sh menu option 23 submenu option 2 (would need to do submenu option 1 first to switch 123.08stable to git repo based /usr/local/src/centminmod first)

[2018-05-02 07:54] centminmod commented on #111
Ok found a few problems that needed fixing when it comes to MYSQLSERVICE_DISABLED='y' routines. I've updated both 123.08stable and 123.09beta01 branches and master with the fix so if you do a fresh Centmin Mod install it should work.

at end of initial install should see

[code]

Let me know if it's fixed for you.

[2018-05-12 19:26] #112 closed

[2018-05-26 17:17] oscarsmx commented on #111
Working again, thank you!

[2018-05-26 17:17] #111 closed

[2018-06-08 20:15] lutechi opened #113 "Add by default automatic "IF" http redirect to Nginx server block"
Hello,

I recently switched from easyengine and I am loving Centmin Mod. Great work!

It was bugging me that I was able to access a WordPress vhost domain via "www" and "non-www". The site I created with option 22 it only created the SSL.conf.

These were some of my options on Centmin Mod Menu 123.09beta01:

Menu - 22
domainname.com
Lets Encrypt enabled
Redis Cache

The target goal was to make sur

[2018-06-08 20:38] jjcav84 commented on #113
You should use a CNAME record in the DNS settings with your registrar to
take care of the www sub domain.

On Fri, Jun 8, 2018 at 3:16 PM lutechi <notifications@github.com> wrote:

[2018-06-08 20:45] lutechi commented on #113
I used an "A" record instead of "CNAME" after reading that supposedly is faster because of less lookups.

Is it maybe that's the cause of having available www and non-www and I had to use the "if" block to make it permanent?

Thanks for your suggestion.

[2018-06-08 20:48] jcatello commented on #113
I wouldn't recommend using 'if' regardless:

https://www.nginx.com/resources/wiki/start/topics/depth/ifisevil/

instead use seperate server blocks, example:

non https will redirect both www and now www to https://domain.com

[code]
then for https to force non www:

[code]

[2018-06-08 21:04] jjcav84 commented on #113
You need both an A record for the IP address and a CNAME record for sub
domains such as www

On Fri, Jun 8, 2018 at 3:45 PM lutechi <notifications@github.com> wrote:

[2018-06-08 21:08] lutechi commented on #113
Thanks @jcatello, I changed it to 3 blocks as you have suggested.

[2018-06-08 21:11] lutechi commented on #113
Hi @jjcav84,

I do have 2 "A" records pointing to the VPS, 1 for @ and 1 for www, otherwise Letsencrypt would have failed if I didn't.

[2018-06-08 21:50] jcatello commented on #113
A CNAME record shouldn't be relied on to do any kind of a redirect

[2018-06-08 22:39] jjcav84 commented on #113
That’s how I setup my dns records. Others do it differently and people do
debate dns configuration but I’m definitely not alone on this.

https://serverfault.com/questions/181927/should-cname-be-used-for-subdomains?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

On Fri, Jun 8, 2018 at 4:50 PM Justin catello <notifications@github.com>
wrote:

[2018-06-08 23:17] centminmod commented on #113
yeah technicaly @jcatello stated way is best https://github.com/centminmod/centminmod/issues/113#issuecomment-395885913

though it's easier for noobs to do a if redirect. I  should update my guide eventually :)

[2018-06-09 00:34] jcatello commented on #113
That's completely different though, you are referencing it to be used as a redirect which a CNAME record just simply is not.  In fact if you read the accepted answer on serverfault, you'll see some good pros and cons and in my eyes the pros outway the crons because a CNAME can actually degrade the performance, although very small, in this day and age speed is everything.

[2018-06-09 01:15] jjcav84 commented on #113
Ok here's how I really do it for WordPress servers.  I was caught up in the middle of my associate fubaring a docker swarm deployment so I gave a really simple answer that works.

 server {

   server_name example.com. www.example.com;
   return 301 https://example.com$request_uri;
   include /usr/local/nginx/conf/staticfiles.conf;
 }

server {
  listen 443 ssl http2;
  server_name example.com www

[2018-06-09 01:35] jjcav84 commented on #113
you're definitely right but he used option 22 which is a WordPress installation and it if you type in www.example.com it redirects to example.com because as you said PHP does it.  So I don't understand what the problem was.

[2018-06-09 03:05] jcatello commented on #113
Most likely the theme, I've seen it do similar things like breaking WP from adding the trailing / at the end of page/post URL's.

[2018-06-09 03:35] lutechi commented on #113
Thanks guys for all the help and knowledge this noob (me) gained from suggesting a default change :)

This was with the default theme from WordPress install as I am testing before I add any plugins or themes.

I was just trying to minify steps for future installs if it was possible. I appreciate the time and info provided which it was definitely useful.

[2018-06-09 03:39] jjcav84 commented on #113
Any problems you have definitely check out community.centminmod.com and get on the forum.  George and the other guys on there are really good and so helpful.  I honestly don't know how he has the time to do all of this and troubleshoot user's issues as well but he does a tremendous job.

[2018-06-09 06:09] #113 closed

[2018-08-16 06:04] #110 closed

[2018-08-23 10:46] ponasromas opened #115 "Few suggestions"
Currently using this mod and it is fantastic. Have a few suggestions:

- Domain remove: easy and fast way to delete all info about domain (vhost, ftp etc.)
- PerconaDB support
- Multi-PHP support (configurable per vhost)
- Rudimentary mail support (create / delete mailbox)

[2018-08-24 21:02] PDowney opened #116 "Nginx with WordPress Gutenberg"
Hey George,

Was going over some best practices with Gutenberg and noted that they were recommending an alteration to the try_files directive.

http://v2.wp-api.org/guide/problems/#query-parameters-are-ignored

`try_files $uri $uri/ /index.php$args;`
change it to this:
`try_files $uri $uri/ /index.php$is_args$args;`
Adding $is_args (which will print a ? character if query arguments are found) will

[2018-08-24 23:05] centminmod commented on #115
Hi thanks for suggestions

* Improved menu options, Percona MySQL and multi PHP-FPM version support is on the to-do list dev roadmap at https://github.com/centminmod/centminmod/projects/1
* Unfortunately, mail @ yourdomain.com isn't on the books right now as outlined at https://community.centminmod.com/threads/email-server-on-centminmod.6435/

[2018-08-24 23:08] centminmod commented on #116
Interesting thanks for heads up. I did try the Gutenberg WP Plugin on Centmin Mod installed Wordpress via centmin.sh menu option 22 and resulted in editor pages being blank. Wonder if it's due to this. Will have to test.

Thanks will have to read up on this

cheers

George

[2018-09-12 13:47] Octolus commented on #115
Domain remove +1
Multi-PHP Support +1

[2018-09-12 15:27] centminmod commented on #115
multiple PHP-FPM pools has been supported optionally since 123.08stable and refined in 123.09beta01 https://community.centminmod.com/threads/centmin-mod-08-beta03-multiple-php-fpm-pools-support-added.3672/

[2018-10-28 15:27] phillf opened #118 "Server Administrator Emails aren't saved/remembered"
I am not sure why or if anyone else has run into this but at least for me the Server Administrator email is not being remembered. I set it and the menu takes it but upon exit and restart it asks for it again like I never even set it.

Centminmod Version:  Centmin Mod Menu 123.09beta01 centminmod.com
OS Version: centos-release-7-5.1804.5.el7.centos.x86_64
[code]

[2018-10-29 01:03] centminmod commented on #118
Probably not clear but both primary and secondary email fields need to populated for it to be saved. So for secondary you can enter same email address as primary if you don't have a 2nd email. Will add clarification to that prompt :)

[2018-10-29 23:20] centminmod opened #119 "nginx: [emerg] unknown "brotli_ratio" variable"
nginx: [emerg] unknown "brotli_ratio" variable

_Originally posted by @jcatello in https://github.com/centminmod/centminmod/commit/2cba2af428f608a733eed2d1819073c22c861162#commitcomment-31091676_

[2018-10-29 23:20] centminmod commented on #119
Ah oversight ngx_brotli isn't installed by default so brotli_ratio variable is unknown until you enable ngx_brotli so fixed in this update 44c465f. For recently affected new installs, just make the modifications at 44c465f

diff at https://github.com/centminmod/centminmod/commit/44c465fd7d1c779d28f1673ae558debe761a52a1.diff

[2018-11-01 17:13] oscarsmx commented on #115
I did a simple script to delete domains:

https://github.com/oscarsmx/Simple-Centminmod-Domain-Removal

It's simple so it will only delete the folder at domains, nginx conf and ssl.

However it doesn't delete virtual ftp users I'll think about that later but as you can type anything you need to remember the user you use for that site.

[2018-11-01 17:21] centminmod commented on #115
thanks @oscarsmx  for sharing :)

FYI, For latest beta (123.09beta01), You also get a log file for each Nginx vhost created which also lists the commands in 123.09beta01 and higher example for http2.domain.com remove log at `/root/centminlogs/centminmod_011118-171959_nginx_addvhost_nv.log`

contents of `/root/centminlogs/centminmod_011118-171959_nginx_addvhost_nv.log` after nginx vhost creation wo

[2018-11-02 02:40] oscarsmx opened #120 "Self Signed Certificate ERR_SSL_SERVER_CERT_BAD_FORMAT"
So it seems that the latest chrome marks the self signed certificate created by centminmod adding vhost without lets encrypt as "ERR_SSL_SERVER_CERT_BAD_FORMAT"

I've already tested with a few domains with the latest beta, am I the only one?

Chrome Versión 70.0.3538.77 (Build oficial) (64 bits)
Centmin Latest beta

Create a vhost for domain.com with ssl (not lets encrypt, self signed) try to go h

[2018-11-02 05:03] centminmod commented on #120
not seeing that here in Chrome 70 or Canary 71 both so as expected invalid ssl cert for self-signed ERR_CERT_AUTHORITY_INVALID

![image](https://user-images.githubusercontent.com/5899584/47894731-1f90e500-deb0-11e8-899a-c771fe70fc51.png)

Do you have anti-virus software on your pc which is doing MITM https site inspection ?

[2018-11-02 05:28] centminmod commented on #120
thanks for the confirmation :)

[2018-11-27 02:54] #119 closed

[2018-11-27 02:54] #118 closed

[2018-12-20 17:35] WhiteLeash opened #121 "line 147: inc/cpcheck.inc: No such file or directory"
I struggle with problem that in centmin I don't have inc/cpcheck.inc but in file system it exist when I want to launch centmin.

Centmin version:
[code]

Error:
[code]

centmin.sh 147 line
[code]

File inc/cpcheck.inc
[code]

Any ideas? What to check for more info?

[2018-12-20 19:39] centminmod commented on #121
You must be coming from a very very old version of centmin mod initially installed as 1.2.3-eva2000.03 is very old dating back to July 2013 as latest stable is 1.2.3-eva2000.08 (123.08stable) and latest beta is 1.2.3-eva2000.09 (123.09beta01). Probably best to upgrade to 123.08stable or 123.09beta01 as your version is very very very old. Or you updated latest centmin mod into an old directory /usr

[2018-12-20 20:12] WhiteLeash commented on #121
Ok thank you for responding. I will check that possibility :)

[2018-12-24 05:14] WhiteLeash commented on #121
@centminmod
Hello - after upgrade through your tutorial I can't update PHP to 5.6
Below CentminMod options what I choose
[code]
Did you had something like that?

[2018-12-24 05:17] centminmod commented on #121
you need to enter exact php version so instead of 5.6, 5.6.39 is exact latest version

[2018-12-24 05:20] WhiteLeash commented on #121
@centminmod
After changing to latest version (5.6.39) with same options n/y/5.6.39/y/n

I've got this

[code]

[2018-12-24 05:34] centminmod commented on #121
might be easier to discuss this on the community forums but you can read how to get the php_upgrade log for troubleshooting php upgrades in one of the threads on community forums https://community.centminmod.com/threads/php-upgrades-keep-failing.10098/#post-43329

[2018-12-24 05:42] WhiteLeash commented on #121
[code]
[code]
[code]
[code]
[code]
Logs list:
[code]
Something interesting you found here?

[2018-12-24 05:43] centminmod commented on #121
would need at least the contents of /root/centminlogs/centminmod_1.2.3-eva2000.08_241218-062721_php_upgrade.log the very last log listed in last output post contents to pastebin or gist.github.com and provide the link

[2018-12-24 05:47] WhiteLeash commented on #121
https://gist.github.com/WhiteLeash/4e0ce9d7fd69103ed167bf54487862c4
Sure - it's content

[2018-12-24 05:53] centminmod commented on #121
strange the routine is skipping download php 5.6.39 tarball at https://github.com/centminmod/centminmod/blob/123.08stable/inc/php_upgrade.inc#L248-L256

you are running centmin.sh as full root user and not as a sudo user that has root privileges ?

[2018-12-24 05:56] WhiteLeash commented on #121
no - at root
There is even no other users
[code]

[2018-12-24 06:39] centminmod commented on #121
what's output for this command to see contents of /svr-setup directory

[code]
and

[code]

[2018-12-24 06:44] WhiteLeash commented on #121
ls -lahrt /svr-setup:
[code]

ls -lahrt /svr-setup | grep -i php - empty output

[2018-12-24 07:19] centminmod commented on #121
you're missing alot of centmin mod downloaded files which are downloaded at /svr-setup, usually when you run centmin.sh menu options it will re-download any missing files into /svr-setup and extract them

that's where you're error is coming from

[code]
seems it's failing to download the required files

what's output for these 2 commands

[code]
[code]

[2018-12-24 07:31] WhiteLeash commented on #121
[code]

[code]

302 and 301 - that's problably not normal behavior?

[2018-12-24 07:41] centminmod commented on #121
that is normal as php.net uses a geo mirror redirect script so they do 301/302 redirects to the real location

but try this as it's a major version updated from .03 to .08stable you could be missing alot of yum repo setup/downloads so at centmin.sh menu option 5, when ask for yum check, answer yes = y just this one time instead of = n

[code]

[2018-12-24 08:16] WhiteLeash commented on #121
It repaired repo and installed:
- libtool-libs
- {curl,curl-devel}
- {libjpeg,libjpeg-devel}

But nothing more - still have problems - below log how it went

https://gist.github.com/WhiteLeash/86b1975c47af70dd64fe21f0cd447590

[2018-12-24 13:38] centminmod commented on #121
whoops found the problem, 123.08stable unlike 123.09beta01 wasn't fully made CentOS 6.10 compatible https://community.centminmod.com/threads/centmin-mod-123-08stable-centos-6-10-compatibiltiy-bug-fix.16296/

full instructions of fixing outlined at https://community.centminmod.com/posts/69656/

[2018-12-25 02:10] WhiteLeash commented on #121
Ok, it works! Thank you so much.

[2018-12-25 06:42] centminmod commented on #121
Great to hear :)

[2018-12-25 06:42] #121 closed

[2019-01-02 09:53] centminmod opened #122 "Extended Backup, Restore, Migration Tools"
[To Do List for 123.09beta01](https://github.com/centminmod/centminmod/projects/1) and higher developments listed at https://github.com/centminmod/centminmod/projects/1

- [ ] Ensure all backup compression routines use Facebook zstd compression for speed and smaller compressed backup file sizes. Example with [custom tar + zstd backup compressed files](https://community.centminmod.com/threads/custo

[2019-01-04 06:02] jcatello opened #123 "commit causing memory_limit to set to 48M"
https://github.com/centminmod/centminmod/commit/f64cd565ebc2d2b46568c6dfb9ac630809feded9#diff-c4033a04286d3c61755b8bd9b06e7b4fR141

This commit is causing memory_limit to set to 64MB on all new installs.

[code]

2.6.32-042stab133.2

[2019-01-04 06:04] jcatello commented on #123
strace shows

`open("/sys/devices/system/node/node0/meminfo", O_RDONLY) = -1 ENOENT (No such file or directory)
open("/sys/devices/system/node/node0/distance", O_RDONLY) = -1 ENOENT (No such file or directory)
open("/sys/devices/system/node/node1/distance", O_RDONLY) = -1 ENOENT (No such file or directory)
--- SIGSEGV {si_signo=SIGSEGV, si_code=SEGV_MAPERR, si_addr=0} ---
+++ killed by SIGSEGV +++

[2019-01-10 06:48] #123 closed

[2019-01-29 21:39] centminmod opened #124 "nginx -t nginx: [emerg] "fastcgi_pass" directive is duplicate"
Regarding commit https://github.com/centminmod/centminmod/commit/74f1ed1af2bb12832f356b8f7bca7db30e0ec99b seems conflict with phpmyadmin.sh routine https://github.com/centminmod/centminmod/commit/74f1ed1af2bb12832f356b8f7bca7db30e0ec99b#commitcomment-32109709

@jcatello take it error occurred when you ran phpmyadmin.sh installer due to these lines https://github.com/centminmod/phpmyadmin/blob/mast

[2019-01-29 21:47] centminmod commented on #124
Fixed https://github.com/centminmod/phpmyadmin/commit/6b0862cc6b588cccc5b9a59df3fddd7e000809f4 :)

[2019-01-29 21:53] centminmod commented on #124
FYI, latest commits are related to changes here https://community.centminmod.com/threads/update-php-fpm-configuration-in-123-09beta01.16530/

[2019-01-30 17:59] #124 closed

[2019-04-28 16:23] oscarsmx opened #127 "Memcache redis error"
Hello,

After a fresh install this is happening.

`Starting php-fpm [28-Apr-2019 11:20:27] NOTICE: PHP message: PHP Warning:  PHP Startup:                                                       Unable to load dynamic library '/usr/local/lib/php/extensions/no-debug-non-zts-2017071                                                      8/memcache.so' (tried: /usr/local/lib/php/extensions/no-debug-non-z

[2019-04-28 16:24] oscarsmx commented on #127
Directory:

[code]

Seems that memcached and redis never got installed.

[2019-04-28 16:38] oscarsmx commented on #127
Workaround:

pecl install memcached for memcahed php extension

commented redis.

[2019-04-28 21:59] centminmod commented on #127
[How to troubleshoot Centmin Mod initial install issues](https://community.centminmod.com/threads/how-to-troubleshoot-centmin-mod-initial-install-issues.102/)

What was the exact github clone command used ? which branch 123.08stable or 123.09beta01 ? PHP 7.1+ is only really supported in [123.09beta01 branch](https://github.com/centminmod/centminmod/tree/123.09beta01) while 123.08stable branch supp

[2019-05-01 23:56] oscarsmx commented on #127
It was the recommended one "Centmin Mod installed via Git"

`yum -y install git wget nano bc unzip
cd /usr/local/src
branchname=123.09beta01
git clone -b ${branchname} --depth=1 https://github.com/centminmod/centminmod.git centminmod
cd centminmod`

However I didn't check if selinux was enabled maybe this was the problem... As I do understand the betainstaller I always edit the centmin.sh file to

[2019-05-02 07:28] centminmod commented on #127
You can still use the betainstallers to customise your installs via pre-populating the persistent config file BEFORE running the betainstaller. See examples at https://community.centminmod.com/threads/discussion-how-do-you-initially-install-setup-your-centmin-mod-server.14736/ :)

[2019-05-06 20:50] oscarsmx commented on #127
Got it. Thank you.

[2019-05-06 20:50] #127 closed

[2019-05-10 14:37] johnbritto1 opened #130 "nginx vts module"
I am getting a blank white page when access the vhost_status (nginx-module-vts) using HTTPS protocol. Any idea?

virtual.conf file:
[code]

The vts_mainserver.conf

[code]

[2019-05-10 22:14] centminmod commented on #130
[Getting Started Guide steps 1 and 2](https://centminmod.com/getstarted.html) outline the requirement to separate your main hostname vhost at virtual.conf with your main site nginx vhost otherwise you can break stuff as Centmin Mod reserves the main hostname vhost at virtual.conf for stats and other admin directories like vts vhost status module usage. You can see break down of Centmin Mod 123.09b

[2019-05-16 11:31] johnbritto1 commented on #130
Hello,

The nginx-vts-module is compile and I could access the /vhost_status using HTTP protocol. The issue  here is accessing via HTTPS.

Thanks.

[2019-05-16 12:17] centminmod commented on #130
Have you checked nginx logs for clues ? as there's no reason that HTTPS references version would not work. If no useful insight in nginx logs, then you can try compiling nginx in debug mode and inspect logs as per outline at https://community.centminmod.com/threads/how-to-guide-for-nginx-php-fpm-debugging.17508/

I noticed you have ngx_pagespeed and mod_security enabled, try with them removed on n

[2019-07-01 15:31] Remzi1993 opened #131 "Request - also mailed"
@centminmod

Hi George

How are you?
I saw that you forked the open source project I maintain (https://github.com/Remzi1993/jquery-manager) and I was just curious how you use the WP plugin and if you would like to help with development?

A couple of weeks ago the project/plugin was accepted on wp.org, see: https://wordpress.org/plugins/jquery-manager/
I would like to find developers who like to ma

[2019-07-01 18:19] centminmod commented on #131
Hi Remzi thanks for considering me. Unfortunately I am no PHP coder so wouldn't be able to fully maintain such a project. I forked jquery-manger after one of my Centmin Mod users gave me a heads up about your wonderful jquery-manger plugin on my forums [here](https://community.centminmod.com/threads/wordpress-jquery1-12-4-vulnerability.17454/) and [here](https://community.centminmod.com/threads/wo

[2019-07-01 19:05] Remzi1993 commented on #131
Hi George,
Thanks for your reply. Could you ask around? I still maintain this project, but I would like to maintain it with more developers.

In the meantime, I will keep track of the jQuery versions and update the plugin asap.
I will redirect users to wp.org at https://wordpress.org/plugins/jquery-manager/ (it's more straightforward and simple for them than GitHub for non techy users)

Thank you

[2019-07-01 19:13] centminmod commented on #131
Will ask around already posted on my forums https://community.centminmod.com/threads/wordpress-jquery1-12-4-vulnerability.17454/page-3#post-75535.

as to feedback / questions, don't have any right now

all the best

George

[2019-07-01 19:53] Remzi1993 commented on #131
Hi @centminmod
I have also made a statement, see: https://github.com/Remzi1993/jquery-manager/issues/12

[2019-07-04 18:46] #131 closed

[2019-08-17 15:20] kevin25 opened #132 "HTTP/2 HPACK Full Encoding patches For Nginx 1.16.1"
Is there any HTTP/2 HPACK Full Encoding patches for 1.16.1 available?

[2019-08-17 17:53] centminmod commented on #132
haven't tested 1.16.x as Centmin Mod uses 1.17 mainline

[2019-08-31 19:50] Stonedestroyer opened #133 "Sendmail or no email"
**Bug Report Forums**

* Check the official Centmin Mod Community's [Bug Report Forum](https://community.centminmod.com/forums/bug-reports.12/) to see if the bug has already been reported/resolved.

**Background Information**

Please fill in any relevant information that applies to you:

* **CentOS Version:** i.e. CentOS 6 32bit or 64bit / CentOS 7 64bit ?
CentOS 7 x64
* **Centmin Mod Version Inst

[2019-09-01 04:30] centminmod commented on #133
Yeah it's been years since sendmail MTA install has been actually tested as default and focused development has been on postfix MTA defaults, so yes it could be possible that sendmail MTA isn't working. But if you have problems with postfix, you should report those in Bug report forum https://community.centminmod.com/forums/bug-reports.12/ as I haven't had issues with postfix on centmin mod in ove

[2019-09-01 04:32] #132 closed

[2019-09-01 04:33] #130 closed

[2019-09-01 10:10] Stonedestroyer commented on #133
I'm using Surgemail so my need for postfix is not necessary. As surgemail replaces sendmail binary.

I will try disable it and see if that can work with it.

[2019-09-02 04:48] Stonedestroyer commented on #133
Disabling postfix did the trick.

[2019-09-02 04:48] #133 closed

[2020-01-06 23:59] williamdes opened #135 "Be docker compatible with centos"
**Background Information**

Please fill in any relevant information that applies to you:

* **CentOS Version:** i.e. CentOS 7 64bit
* **Install Method:** From website `yum -y update; curl -O https://centminmod.com/installer.sh && chmod 0700 installer.sh && bash installer.sh`

**Describe the bug**
`installer.sh: line 182: bc: command not found`
`installer.sh: line 59: wget: command not found`

This

[2020-01-07 00:09] williamdes commented on #135
My SSD was full, sorry.

[2020-01-07 00:09] #135 closed

[2020-01-07 06:42] centminmod commented on #135
Thanks for testing @williamdes - might want to try the 123.09beta01 installer that's what most folks actually use https://centminmod.com/install.html too :)

[2020-11-12 18:58] imManhIT opened #141 "Support Centos 8 ?"
centminmod will add support centos 8 ?
Thank you.

https://github.com/centminmod/centminmod/projects/1#card-21199188

[2020-11-15 16:15] colmtroy opened #142 "405 error for /?wc-ajax=get_refreshed_fragments ajax callbacks with Cache enabler method"
**Background Information**

Please fill in any relevant information that applies to you:

* **CentOS Version:** i.e. CentOS 6 32bit or 64bit / CentOS 7 64bit ?
* **Centmin Mod Version Installed:** i.e. 123.08stable or 123.09beta01
* **Nginx Version Installed:** nginx/1.19.4 (131120-001910-centos7-ba36c7f)
* **PHP Version Installed:** PHP 7.4.12 (cli) (built: Nov 13 2020 00:23:02) ( NTS )
* **Maria

[2020-11-16 00:40] centminmod commented on #142
which version of cache enabler are you using 1.4.9 or 1.5.1+. If you're using 1.5.1+, tried downgrading to cache enabler 1.4.9 https://community.centminmod.com/threads/add-cache-enabler-1-4-9-legacy-cache-mode-option-in-123-09beta01.20545/ ?

cache enabler 1.5.1+ changed the way they cache for query strings https://github.com/keycdn/cache-enabler/issues/148 so you might want to check with cache en

[2020-11-16 01:15] centminmod commented on #142
also does manually clearing cache enabler cache, fix the ?wc-ajax requests temporarily ?

[2020-11-16 02:28] centminmod commented on #141
CentOS 8 support is a work in progress due to lagging behind EPEL 8 and other yum packages being missing. You can follow/watch or subscribe to sticky thread at https://community.centminmod.com/threads/centmin-mod-centos-8-compatibility-worklog.18372/ as to the progress.

[2020-11-16 10:51] colmtroy commented on #142
hey @centminmod
Sorry I should have led with that info!
I'm running 1.4.9 of Cache Enabler.
I spotted your threads on the big changes to Cache Enabler when I was updating another WP install last week (sidnote: I think the change to caching query strings by default is not going to end well! So many plugins rely on query strings!).
Clearing cache doesn't solve it - it's been like that since Day 1. (

[2020-11-24 09:40] rrjanbiah opened #143 "README licence badge reads 'AGPL'"
Though the license is GPL, the badge reads 'AGPL'  ![](https://img.shields.io/badge/license-AGPL-blue.svg?style=flat-square)

[2020-11-24 16:37] centminmod commented on #143
Thanks for heads up. Fixed :)

[2020-11-24 16:37] #143 closed

[2021-01-30 05:10] kimmyfarm commented on #141
CentOS 8 will die soon, hope centminmod will support Unbuntu

[2021-02-22 14:16] rrjanbiah opened #145 "Feedback and suggestions"
Recently installed a WordPress in DigitalOcean using Centmin Mod `betainstaller72.sh`. The final WordPress is butter smooth. But, I noticed few items that the installer can add or improve:

- [ ] Simplify the home page. Currently there are too many options. Probably show the installer command above the fold with just 2 options: stable and beta.
- [ ] There are so many documentation available. It i

[2021-02-23 06:29] centminmod commented on #145
@rrjanbiah thanks for taking the time to provide some feedback and suggestions :)

* home page documentation is indeed need of an overhaul
* as there are some inline help/info in some places for centmin.sh menu but not for installation itself right now
* cursor off screen probably specific to your SSH client config too. What SSH client you using ? what is output for this command when you're logged

[2021-02-23 16:25] rrjanbiah commented on #145
@centminmod Thank you so much for your quick reply

I'm on Ubuntu MATE (16.04), using command line `ssh`. Here's the output for `env | egrep 'TERM|LANG'`:
[code]

I've installed it in subdomain. No tweak done yet. Noted https://centminmod.com/nginx_domain_dns_setup.html#httpsredirect and yet to try that.

Yes, I meant `/etc/centminmod/custom_config.inc`. I understand that it is for persistence. Bu

[2021-02-24 15:51] rrjanbiah commented on #145
*Additional note*

The https only domain was working when installing the vhost using option `2`. I also don't remember that the Letsencrypt was offering 4 options as in the option `22`

[2021-03-09 02:10] oscarsmx opened #146 "Update well-acme of drop.conf"
**Bug Report Forums**

* Check the official Centmin Mod Community's [Bug Report Forum](https://community.centminmod.com/forums/bug-reports.12/) to see if the bug has already been reported/resolved.

**Background Information**

Please fill in any relevant information that applies to you:

* **CentOS Version:** CentOS 7 64bit
* **Centmin Mod Version Installed:** 123.09beta01
* **Nginx Version Instal

[2021-03-09 02:14] centminmod commented on #146
Did you remove the default include file `/usr/local/nginx/conf/staticfiles.conf` that is created and added to your Nginx vhost config file for

[code]
?

As that is where the /.well-known allowance location context is added by default - see code at https://github.com/centminmod/centminmod/blob/master/config/nginx/staticfiles.conf#L3

can you provide a sanitized (replace domain name with = domain.c

[2021-03-09 02:43] oscarsmx commented on #146
Sure, but the only thing I did was replace the line of well-known of drop.conf to the one I quote here. Everything else was the same (I didn't remove static or touch anything else) this problem hunted my for a few months maybe a year or so

Here is the vhost:

#x# HTTPS-DEFAULT
 server {

   server_name domain.com www.domain.com;
   return 302 https://domain.com$request_uri;
   include /usr/local/

[2021-03-09 02:49] centminmod commented on #146
can you post output for command

[code]

[2021-03-09 02:56] oscarsmx commented on #146
Sure

`nginx version: nginx/1.19.6 (040121-205818-centos7-ecdbf64-br-9aec15e)`

Just to let you know I did everything I read on the forum, with several versions of nginx only today I was able to do it right out the box with that line (of drop.conf because I tried hardcoding other solutions directly in the vhost) which if you take a look it only adds a ^ in the line you have now it's recommended in

[2021-03-09 03:02] oscarsmx commented on #146
Weird folks.

[code]

This happen to me with a non-custom nginx (just with the one installed from bash command) I did touch too much this config after months with the problem

[2021-03-09 03:05] centminmod commented on #146
I see in `nginx -V` output `--add-dynamic-module=../headers-more-nginx-module-0.33` is there so the `more_set_headers    "Content-Type: text/plain";` is working at least

I see the discussion at has settled on

[code]
Interesting will have to test this as I've been using Centmin Mod for years with letsencrypt and never had issues with validation.

[2021-03-09 03:10] oscarsmx commented on #146
I'm one of your firsts users from WHT so I know a bit of the stack. (Big fan!) and this was hunting me hard. Hope this help others as I did a big research in the forum every now and then without any luck until today. (This happen to me with laravel and custom php stacks ie non wordpress apps)

[2021-03-09 03:14] centminmod commented on #146
Wow very long time user if from WHT!!

On you end if you want to test both old location context in drop.conf versus new one against HTTP-01 validation test at https://letsdebug.net/ and let me know the links to the hyperlinked test on results page for `Show verbose information` link

[2021-03-09 03:23] oscarsmx commented on #146
Yep, few years now you weren't that popular in that time haha (Actually I was the one that requested the custom nginx server-name-header waaaay back when you need to edit the bash file).

I can't link because of the domain but they are the same.
Note: I didn't knew that the link of the letsencrypt was you LOL what a tiny world.

[2021-03-14 21:03] tobias992 opened #147 "OPcache on shared hosting"
Hi,

i checked little bit your configs. At the moment i try to find a solution to use OPcache on shared hosting servers.
I saw that you also dont have a "good" solution for this.

php_admin_value[opcache.file_cache] = /home/websitea/html/opcache
php_admin_value[opcache.file_cache_only] = 1

I think that could be the solution. But i tested it... failure.

Next solution would be to use a own Master

[2021-03-14 21:26] centminmod commented on #147
FAQ item 2 https://centminmod.com/faq.html. Centmin Mod isn't made for shared hosting as such. To isolate the Zend Opcache for each site will need PHP-FPM pool each with it's own master process. However, you will increase memory usage/allocation for each site you do this for. But separate PHP-FPM master configuration isn't supported out of box with Centmin Mod though you can do it yourself if had

[2021-05-02 21:04] colmtroy commented on #142
hey @centminmod
just a quick update on this.
created another brand new machine following the steps listed above and this is still an issue.

[2021-05-04 04:01] centminmod commented on #142
@colmtroy I'll take a look but I don't have much experience with Woocommerce myself.

[2021-05-04 13:59] colmtroy commented on #142
@centminmod
i think i've figured it out.
I added wc-ajax to the bypass rules in:
wpcacheenabler_mydomain.com.conf

[code]
not sure why this rule is needed given you already have this a bit further up

[code]

and the request in question is a post request
[code]

[2021-05-04 23:55] centminmod commented on #142
Nice troubleshooting! Could be the order of the rules so will add wc-ajax to bypass $request_uri rule too :)

[2021-05-05 00:00] centminmod commented on #142
oh i checked in latest wpcacheenabler_domain.com.conf templates, the POST request bypass is higher up before the bypass URL rules so shouldn't be the case - if you did fresh install it would of been the same case

[2021-05-05 00:31] centminmod commented on #142
added fix to 123.09beta01 https://github.com/centminmod/centminmod/commit/d29de854098ce89116e86fd1de2626924549c9fd :)

[2021-05-06 03:34] #146 closed

[2021-05-24 21:15] colmtroy commented on #142
Awesome thanks as always @centminmod :)

[2021-06-18 05:16] rcbarriga opened #148 "From acme.sh v3.0.0, acme.sh is using Zerossl as default ca, instead of LetsEncrypt and this breaks the vhost add functionality with LetsEncrypt"
At the moment i tried to generate a new vhost setup with a LetsEncrypt issued live certificate but the end result was the self signed certificate, then i found the following after some debugging on the script:

Currently Centminmod is using an ACME Shell script: acme.sh (https://github.com/acmesh-official/acme.sh) for issuing the LetsEncrypt certificates, since Centminmod downloads the latest vers

[2021-06-18 05:41] rcbarriga commented on #148
Already found the fix in the following [commit](https://github.com/centminmod/centminmod/commit/ed18071309ebf94982a7597e4445268fa13dc0af#diff-d180325d0d0c5ce0b31984d7f6a8f0e24e6b1e15d6bb056b709dd430cd2b0a49)

And the fix is stated on commit description:

_- you can also manually force this update via a one time task by running cmupdate command on Centmin Mod 123.09beta01 or higher installs and the

[2021-06-18 06:30] centminmod commented on #148
Thanks, I added more fixes for this too at https://community.centminmod.com/threads/acmetool-sh-1-0-74.21600/ with commit at https://github.com/centminmod/centminmod/commit/d8963fa87dee2e8066bfa6107753f588941dbd0a

[2021-06-18 06:31] rcbarriga commented on #148
Thank you, that should be enough

[2021-06-18 06:31] #148 closed

[2021-06-18 06:41] rcbarriga opened #149 "Custom SSL SELFSIGNEDSSL_O (Organization (O)) and SELFSIGNEDSSL_OU (Organizational Unit (OU)) variables ignored when requesting ssl certificate"
After defining the following variables on _/etc/centminmod/custom_config.inc_ :

_SELFSIGNEDSSL_C=      # Country (C)
SELFSIGNEDSSL_ST=     # State (S)
SELFSIGNEDSSL_L=       # Locality (L)
SELFSIGNEDSSL_O=      # Organization (O)
SELFSIGNEDSSL_OU=    # Organizational Unit (OU)_

The SELFSIGNEDSSL_O and SELFSIGNEDSSL_OU parameters are replaced with _**${vhostname}**_ and the certificate is generat

[2021-06-19 14:28] kintaro1981 opened #150 "-bash: grep -rnw: command not found"
**Describe the bug**
this command:
`grep -rnw 'directory' -e "pattern"
`take to:
`-bash: grep -rnw: command not found`

**Additional context**
https://stackoverflow.com/questions/37255838/grep-option-o-command-not-working#comment62039247_37255838

[2021-06-19 14:39] kintaro1981 commented on #150
as wrote here:
https://community.centminmod.com/posts/89533/

it seems a "copy and paste" problem from Evernote.  😞
if I write the same thing manually it works as expected.

[2021-06-30 07:10] rcbarriga opened #151 "Option to Add Nginx vhost fails to generate LetsEncrypt certificate if domain has AAAA ipv6 address configured"
The option:

2).  Add Nginx vhost domain

Will fail to get a LetsEncrypt certificate if domain has AAAA ipv6 address configured, this is caused by the nginx template used (vhost-non-wp-nv-http(s).txt ?) that doesnt enable ipv6 for nginx then acme script drops the following error

"domain has an AAAA (IPv6) record but a test request to this address over port 80 did not succeed. Your web server must

[2021-06-30 07:15] rcbarriga commented on #151
The fixed nginx conf generated files should include the code in bold for listen statement

   listen **[::]:80 ipv6only=off** default_server;
and
    listen **[::]:443 ipv6only=off** default_server;

[2021-06-30 13:45] centminmod commented on #151
nginx template .txt files are currently used as the nginx vhost templates are built into the routine itself. However, historically folks have reported issues with broken IPv6 or unstable IPv6 connectivity from some web hosts configurations which lead to issues only a web host can fix. So Centmin Mod hasn't really setup IPv6 nginx vhosts by default. Instead official Centmin Mod FAQ item 34 has outl

[2021-07-01 04:47] rcbarriga commented on #151
Thank you for your reply, after doing some tests i found the following:

When you add a host through menu, the script creates a first dummy (/usr/local/nginx/conf/conf.d/domain.com.conf) config file where the options are listen 80 or listen 443 instead of listen [::]:80 or listen [::]:443, then when acmetool asks for LetsEncrypt certificate the LetsEncrypt server does a verify by fetching a file l

[2021-08-14 13:22] ocdevcn opened #153 "Dual-core CPU cannot open php PGO extension"
1、I used the command to check that my CPU is dual-core
grep -c "processor" /proc/cpuinfo
picture:：https://prnt.sc/1okhs2c
2、I am in /etc/centminmod/custom_config.inc and fill in the following:
PHP_PGO='y'
PHP_PGO_ALWAYS='y'
3、Centminmod Version：
1.2.3-eva2000.09 beta install

I use Bandwagon host，
No matter what I do, I will never get php pgo

[2021-08-15 08:59] ocdevcn commented on #153
Log:  https://gist.github.com/ocdevcn/8c1b7672409ca41560258fcfff124237

[2021-10-09 16:09] Eckybrazzz commented on #153
What is the output of
[code]

[2021-10-31 02:23] erikdemarco opened #154 "How to strip tracking parameters via nginx?"
Currently centminmod depends on cache-enabler to remove tracking parameters such as utm_source,gclid,fbclid,etc.

Is there any way to remove this only via nginx config? So we dont need to install cache enabler?

[2021-10-31 03:11] centminmod commented on #154
Probably best to ask on official Centmin Mod community forums at https://community.centminmod.com/. You can do it via nginx or more efficiently if you use Cloudflare with Cloudflare Transform rules to rewrite URL and their query string arguments https://developers.cloudflare.com/rules/transform. Examples at https://developers.cloudflare.com/rules/transform/url-rewrite/examples

[2021-11-11 02:29] MobileCity120ThaiHa commented on #141
The last update was from April, are you still working to add support new OS ?

[2021-11-11 02:43] centminmod commented on #141
Yes I am though it's delayed right now, you can follow the latest update at https://community.centminmod.com/threads/centmin-mod-centos-8-compatibility-worklog.18372/#post-90596

[2022-05-07 20:18] oscarsmx opened #155 "installer broken it doesn't install everything"
fresh centos7 with stable and beta installer don't install pass nginx

tried at OVH vps and Linode same results.

MariaDB 10.x Repo setup...

rpm --import http://yum.mariadb.org/RPM-GPG-KEY-MariaDB

Check for existing mariadb packages

Check for existing mariadb-libs package
rpm -e --nodeps mariadb-libs-5.5.68-1.el7.x86_64
warning: file /etc/my.cnf: remove failed: No such file or directory

MariaD

[2022-05-07 20:26] centminmod commented on #155
Yes, the stable version has broken MariaDB 10.0 repo as it's EOL. For now the 123.09beta01 is the best option as it's most up to date and has PHP 7.1+ and PHP 8.0+ and 8.1+ support which stable version doesn't. See https://centminmod.com/install.html

[2022-05-07 20:28] oscarsmx commented on #155
Tried the beta installer (default one) with the same results...

[2022-05-07 20:33] centminmod commented on #155
That's strange as beta version doesn't use MariaDB 10.0 but uses 10.3. Are you registered on official Centmin Mod community forums at https://community.centminmod.com/ ? If so you can post in forums at https://community.centminmod.com/forums/install-upgrades-or-pre-install-questions.8/ and provide the initial install log for troubleshooting as outlined at https://community.centminmod.com/threads/h

[2022-05-07 20:35] centminmod commented on #155
Also which of the install command lines did you use from https://centminmod.com/install.html ?

[2022-05-07 20:36] oscarsmx commented on #155
Yep I'll post asap. Right now I'm testing with the github method however I did try default commands at github

yum -y update; curl -O https://centminmod.com/installer.sh && chmod 0700 installer.sh && bash installer.sh

yum -y update; curl -O https://centminmod.com/betainstaller.sh && chmod 0700 betainstaller.sh && bash betainstaller.sh

I also tried a custom_config.inc method at first then moved t

[2022-05-07 20:38] centminmod commented on #155
Ok thanks for the info, if you can provide the initial install logs https://community.centminmod.com/threads/how-to-troubleshoot-centmin-mod-initial-install-issues.102/ it would be helpful to troubleshoot.

[2022-05-07 20:44] oscarsmx commented on #155
I gotta go out to grab something to eat but yeah, github method it's also broken asap I'll post the logs

[2022-05-07 23:33] oscarsmx commented on #155
Logs:

https://drive.google.com/file/d/1kKXavQRwt4I2eHHWWP8XE6bVOPF9a0C3/view?usp=sharing

[2022-05-07 23:53] oscarsmx commented on #155
It seems that everything start with rpmforge-release-0.5.3-1.el7.rf.x86_64.rpm [found]
curl: (6) Could not resolve host: apt.sw.be; Unknown error
error: http://apt.sw.be/RPM-GPG-KEY.dag.txt: import read failed(2).

apt.sw.be it's dead.

[2022-05-08 00:23] oscarsmx commented on #155
Weird indeed.

Now it's working the beta installer with linode. Lets try OVH. I'll update here.

[2022-05-08 03:54] centminmod commented on #155
Could of been temp VPS specific issues on your end preventing some downloads happening.

FYI, I've just released 124.00stable which is based on 123.09beta01 so you can try that too https://community.centminmod.com/threads/centmin-mod-124-00stable-130-00beta01-releases.22673/

[2022-05-08 18:00] oscarsmx commented on #155
Yeah it was something temporary but with that I did at least 5 reinstalls.

I'll try today. The reason I used the stable 08 was because openbasedir was still disabled globally and in the stable this was enable by default

[2022-05-10 01:22] #155 closed

[2022-05-15 05:45] #37 closed

[2022-10-29 10:12] #154 closed

[2022-10-29 10:12] #153 closed

[2022-10-29 10:13] #151 closed

[2022-10-29 10:14] #150 closed

[2022-10-29 10:14] #149 closed

[2022-10-29 10:15] #147 closed

[2022-10-29 10:15] #145 closed

[2022-10-29 10:16] #142 closed

[2022-10-29 10:17] #115 closed

[2022-10-29 10:17] #116 closed

[2022-10-29 10:17] #141 closed

[2022-10-29 10:18] #92 closed

[2022-10-29 10:18] #122 closed